<template>
  <template v-if="loading">
    <global-progress-bar height="400px" text="Načítám..." />
  </template>
  <table v-else class="w-100">
    <thead>
      <tr>
        <th>
          <v-checkbox
            hide-details density="compact" class="ml-2 mr-2" :model-value="all"
            @click.stop="$emit('update:selected', setAllSelected(!all))"
          />
        </th>
        <th v-for="column, i in sortedVisibleColumns" :key="i" class="text-left">
          {{ column.title }}
          <!-- <list- -->
        </th>
      </tr>
    </thead>
    <tbody>
      <tr v-for="item, i in items" :key="item.name" :class="{ selected: selected.includes(getKey(item)) }">
        <td class="cell-select">
          <v-checkbox
            hide-details density="compact" class="ml-2 mr-2 my-1" :model-value="selected.includes(getKey(item))"
            @click.stop="$emit('update:selected', toggleSelected(getKey(item)))"
          />
        </td>
        <td v-for="column in sortedVisibleColumns" :key="`${i}-${column.field}`">
          <!-- {{ column }} -->
          <nuxt-link
            v-if="detailPath" :to="`${detailPath}/${getKey(item)}`"
          > 
            <v-icon v-if="column.icon" class="mr-2">
              {{ getIcon(item,column) }}
            </v-icon>{{ getValue(item, column) }}
          </nuxt-link>
          <template v-else>
            <v-icon v-if="column.icon" class="mr-2">
              {{ getIcon(item,column) }}
            </v-icon>{{ getValue(item, column) }}
          </template>
        </td>
      </tr>
    </tbody>
  </table>
</template>

<script setup lang="ts">
import get from 'lodash/get'
import { Column } from '@composables/entity/abstract'

interface Props {
  columns: Array<Column> // TODO: Add sort toggles into headers
  items: Array<any>
  selected?: Array<any>
  detailPath?: string
  loading?: boolean
}

interface Emits {
  (e: 'update:selected', value: Array<any>): void
}

const props = withDefaults(defineProps<Props>(), {
	selected: () => [],
	detailPath: undefined,
	loading: false,
})
const emits = defineEmits<Emits>()

const all = computed(() => props.items.every(item => props.selected.includes(getKey(item))))
const sortedColumns = computed(() =>
	[...props.columns].sort((a, b) => (a.order || Number.MAX_VALUE) - (b.order || Number.MAX_VALUE))
)
const sortedVisibleColumns = computed(() => sortedColumns.value.filter(column => !column.virtual && !column.hidden))

const getKey = (item: any) => get(item, props.columns.find(column => column.key)?.field)

const getValue = (item: any, column: Column) => column.transform
	? column.transform(get(item, column.field, item))
	: get(item, column.field, item)

const getIcon = (item: any, column: Column) => {
	return column.icon
		? column.icon(get(item, column.field, item))
		: null
}

const setAllSelected = (select: boolean) => select ? props.items.map(item => getKey(item)) : []

const toggleSelected = (key: any) =>
	props.selected.includes(key) ? props.selected.filter(k => k !== key) : [...props.selected, key]

// TODO: Get color from vuetify css vars
</script>

<style scoped lang="scss">
table, tr, td {
  border: none;
  border-collapse: separate;
  border-spacing: 0 6px;
}

tbody tr {
  td {
    transition-duration: .3s;
    transition-timing-function: cubic-bezier();
    transition-property: background-color;
    $border-radius: 4px;

    &.cell-select {
      width: 48px;
    }

    &:first-child {
      border-top-left-radius: $border-radius;
      border-bottom-left-radius: $border-radius;
    }

    &:last-child {
      border-bottom-right-radius: $border-radius;
      border-top-right-radius: $border-radius;
    }
  }

  &:hover td {
    background-color: #f6f6f6;
  }

  &.selected td {
    background-color: #e5e5e5;
  }
}

th,
td {
  height: 1px;
}

@-moz-document url-prefix() {
  th,
  td {
    height: 100%;
  }
}
</style>
