<template>
  <div
    class="d-flex align-center flex-column py-5"
  >
    <v-card
      width="1100"
      color="green"
      variant="tonal"
      elevation="4"
      title="Nové objednávky k přiřazení:"
    >
      <v-container>
        <v-row>
          <v-col
            cols="11"
          >
            <list-view-table
              v-model:selected="selected"
              detail-path="/installations"
              :loading="fetching"
              :items="items"
              :columns="columns"
            />
          </v-col>
          <v-col
            cols="1"
          >
            <list-action-button
              v-model:columns="columns"
              :selected="selected"
              :actions="actions"
              @action="handleAction"
            />
          </v-col>
        </v-row>
        <list-paginator
          v-model:page="page"
          v-bind="{ limit, count }"
        />
        <v-row>
          <!-- <confirm-dialog
        :model-value="shouldShowCreateDialog"
        @confirmed="handleCreate"
        @rejected="shouldShowCreateDialog = false"
      >
        TODO: ...
        Vytvořit montáž
      </confirm-dialog> -->
          <v-dialog
            v-model="shouldShowCreateDialog"
            width="1000"
          >
            <v-card>
              <v-card-actions>
                <v-row justify="end">
                  <v-col cols="auto">
                    <v-btn
                      color="primary" 
                      block 
                      icon="mdi-close" 
                      @click="shouldShowCreateDialog = false"
                    />
                  </v-col>
                </v-row>
              </v-card-actions>
              <v-card-text>
                <installation-edit
                  v-if="shouldShowCreateDialog"
                  :installation-id="''"
                  @updated="shouldShowCreateDialog = false"
                  @canceled="shouldShowCreateDialog = false"
                />
              </v-card-text>
            </v-card>
          </v-dialog>
  
          <global-confirm-dialog
            :model-value="shouldShowDeleteDialog"
            @confirmed="handleDelete"
            @rejected="shouldShowDeleteDialog = false"
          >
            {{ translates.installation.textConfirmDeleteInstallation }}
          </global-confirm-dialog>
        </v-row>
      </v-container>
    </v-card>
  </div>
</template>
<script setup lang="ts">
import { ActionName } from '@composables/entity/abstract'
import { InstallationState_Enum } from '@gql/generated'

const translates = useTranslates()

const state = useEntityInstallationState('home-widget')
const { columns, selected, page } = state

const installations = useInstallations()
const { limit, count, fetching, items } = installations

const { deleteItem } = useEntityInstallationCRUD()

// TODO: ...
const actions = [
	  {
	 	name: ActionName.Create,
	 	title: 'Přidat',
	 	icon: 'mdi-plus',
	},
	{
		name: ActionName.Edit,
		title: 'Upravit',
		icon: 'mdi-square-edit-outline',
	},
	// TODO: ...
	// {
	// 	name: ActionName.Duplicate,
	// 	title: 'Duplikovat',
	// 	icon: 'mdi-content-copy',
	// },
	 {
 	  name: ActionName.Delete,
		title: 'Odstranit',
		icon: 'mdi-trash-can-outline',
	 }
]

const shouldShowCreateDialog = ref(false)
const shouldShowDeleteDialog = ref(false)

watchEffect(() => {
	installations.orderBy.value = state.orderBy.value
	installations.page.value = page.value
	installations.where.value = {
		stateValue: {
			_in: [InstallationState_Enum.New]
		}
	}
})

const handleAction = (event: ActionName) => {
	switch (event) {
	case ActionName.Edit:
		useRouter().push('/installations/' + selected.value[0])
		break
	case ActionName.Create:
		shouldShowCreateDialog.value = true
		break
	case ActionName.Delete:
		shouldShowDeleteDialog.value = true
		break
	}
}

const handleCreate = async () => {
	shouldShowCreateDialog.value = false
}

const handleDelete = async () => {
	Promise.all(selected.value.map(id => deleteItem(id)))
		.then(() => {
			shouldShowDeleteDialog.value = false
			selected.value = []
		})
}
</script>
