<template>
  <v-container class="pa-5">
    <v-row>
      <v-col cols="8" class="pa-7">
        <availabilities-calendar v-model:selected-slots="selectedSlots" />
      </v-col>
      <v-spacer />
      <v-col cols="4" class="pa-7">
        <div style="position: sticky; top: 76px">
          <v-sheet rounded="lg" min-height="268">
            <availabilities-side-panel
              v-model:selected-users="selectedUsers" 
              class="mb-3"
            />
            <v-btn
              type="submit"
              class="bg-primary float-right"
              flat
              @click="onSubmit"
            >
              Odeslat
            </v-btn>
          </v-sheet>
        </div>
      </v-col>
    </v-row>
  </v-container>
</template>
    
<script setup lang="ts">
import { Availability_Insert_Input } from '@gql/generated'
    
const { insertAvailability, error } = useEntityAvailabilityCRUD()
  
const selectedUsers = ref<Array<any>>([])
const selectedSlots = ref<Array<any>>([])
const availabilityEntities = ref<Array<Availability_Insert_Input>>([])
    
const onSubmit = async () => {
	availabilityEntities.value = selectedUsers.value.map(({ userId, userZipCodes }) => {
		return selectedSlots.value.map(({ availableFrom, availableTo }) => {
			return {
				userId,
				availableFrom,
				availableTo,
				availabilityZipCodes: { 
					data: userZipCodes
				}
			}
		})
	}).flat(2) 
    
	if(selectedUsers.value.length > 0 ) {
		insertAvailability(availabilityEntities.value)
		// TODO: reset of selectedUsers and selectedSlots
	} 
}
</script>
