<template>
  <v-container>
    <v-row justify="center">
      <v-col cols="11">
        <availabilities-filter-panel @change="updateUserIds" />
      </v-col>
    </v-row>
    <v-row justify="center">
      <v-col cols="8">
        <calendar-overview-calendar :events="events" @change="calendarChanged" />
      </v-col>
    </v-row>
  </v-container>
</template>

<script setup lang="ts">
import dayjs from 'dayjs'
import minMax from 'dayjs/plugin/minMax'
import cs from 'dayjs/locale/cs'

dayjs.extend(minMax)
dayjs.locale(cs)

const allUserIds = ref<Array<string>>([])

const updateUserIds = (value) => {
	allUserIds.value = value
}

const {
	availabilityQuery,
	shouldFetch,
	from: availabilityFrom,
	to: availabilityTo,
	userIds: availabilityUserIds
} = useAvailability()

const allAvailabilites = computed(() => {
	return availabilityQuery.data.value?.availability
})

const events = computed(() => {
	if (!allAvailabilites.value) {
		return []
	}

	return allAvailabilites.value
		.map((item) => {
			const start = dayjs(item.availableFrom)
			const end = dayjs(item.availableTo)
			const name = `${start.format('HH:mm')} - ${end.format('HH:mm')}`
			const user = item.user
			const count = 1

			return {
				start,
				name,
				end,
				user,
				count
			}
		})
})

const calendarChanged = (event: { start: { date: dayjs.Dayjs }; end: { date: dayjs.Dayjs} }) => {
	availabilityFrom.value = dayjs.max(event.start.date.startOf('day'), dayjs())
	availabilityTo.value = dayjs.max(event.end.date.endOf('day'), dayjs())
}

calendarChanged({ start: { date: dayjs() }, end: { date: dayjs().endOf('month').endOf('week') } })

watch(allUserIds, (value) => {	
	availabilityUserIds.value = [...value]
})

onMounted(() => {
	shouldFetch.value = true
})

</script>
