<template>
  <nuxt-layout v-if="loggedUser">
    <v-main>
      <nuxt-page />
    </v-main>
  </nuxt-layout>

  <layout-anonym-screen v-else-if="loggedUser === null" />

  <layout-splash-screen v-else />

  <global-message-box />
</template>

<script setup lang="ts">
const { loggedUser } = useAuth()
</script>

<style>
a {
  text-decoration: none;
  color: inherit;
}
</style>
