<template>
  <div class="container">
    <h1 class="header-404">
      404
    </h1>
    <h2 class="not-found">
      Page not found
    </h2>
    <a
      class="home"
      href="/"
    >Go back home</a>
  </div>
</template>

<style>
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(227, 227, 227);
  }
  .header-404 {
    font-size: 120px;
  }
  .not-found {
    font-size: 30px;
  }
  .home {
    text-decoration: none;
    font-weight: bold;
    background-color: rgb(0, 0, 0);
    padding: 20px;
    margin: 70px;
    border: 2px solid #000;
    border-radius: 15px;
    color: rgb(227,227,227);
  }
</style>
