<template>
  <v-app-bar color="primary">
    <v-app-bar-nav-icon
      variant="text"
      @click.stop="expandSideNav = !expandSideNav"
    />

    <nuxt-link to="/">
      <v-toolbar-title>Admin S montáží</v-toolbar-title>
    </nuxt-link>

    <v-spacer />

    <v-menu open-on-hover>
      <template #activator="{ props }">
        <v-btn v-bind="props">
          <v-icon left>
            mdi-account-circle-outline
          </v-icon>
          &nbsp;
          {{ loggedUser?.displayName || loggedUser?.email || '' }}
        </v-btn>
      </template>

      <v-list>
        <v-list-item to="/profile">
          <v-icon left>
            mdi-account-details
          </v-icon>
          Profil uživatele
        </v-list-item>
        <v-list-item @click="logoutUser">
          <v-icon left>
            mdi-logout
          </v-icon>
          Odhlásit se
        </v-list-item>
      </v-list>
    </v-menu>
  </v-app-bar>
</template>

<script setup lang="ts">
const { expandSideNav  } = useLayout()
const { logoutUser, loggedUser } = useAuth()
</script>
