<template>
  <!-- TODO: Minimized width -->
  <v-navigation-drawer 
    v-model="showSideNav"
    bottom permanent :border="0" :rail="!expandSideNav"
  >
    <v-list>
      <template v-for="(item, i) in menuItems" :key="i">
        <v-divider
          v-if="item.type === 'divider'"
          class="ma-2"
        />
        <v-spacer
          v-else-if="item.type === 'spacer'"
          class="ma-2"
        />
        <v-list-subheader
          v-else-if="item.type === 'subheader'"
          class="mx-2"
        >
          {{ item.title }}
        </v-list-subheader>
        <v-list-item
          v-else
          :title="item.title" :value="item.title.toLowerCase()" :to="item.to" :href="item.href"
          :class="{ [`pl-${(item.indent! + 1) * 4}`]: item.indent && expandSideNav}"
          class="rounded"
        >
          <template #prepend>
            <v-icon :icon="item.icon" />
          </template>
        </v-list-item>
      </template>
    </v-list>
    <template #append>
      <div class="pa-2 text-center">
        <span v-if="expandSideNav">Version</span> {{ version }}
      </div>
    </template>
  </v-navigation-drawer>
</template>

<script setup lang="ts">
type MenuItem = {
  type: 'item'
  title: string,
  icon: string
  to?: string,
  href?: string,
  indent?: number
} | {
  type: 'subheader'
  title: string
} | {
  type: 'divider'
} | {
  type: 'spacer'
}
const { showSideNav, expandSideNav } = useLayout()
const { version } = useUtils()

const menuItems: Array<MenuItem> = [
	{
		type: 'item',
		title: 'Přehledy',
		to: '/',
		icon: 'mdi-monitor-dashboard',
	},
	{
		type: 'item',
		title: 'Montáže',
		to: '/installations',
		icon: 'mdi-pipe-valve',
	},
	{
		type: 'item',
		title: 'Čekající',
		to: '/installations/waiting',
		icon: 'mdi-clipboard-text-clock',
		indent: 1,
	},
	{
		type: 'item',
		title: 'Realizované',
		to: '/installations/in-progress',
		icon: 'mdi-tools',
		indent: 1,
	},
	{
		type: 'item',
		title: 'Řemeslníci',
		to: '/craftsmen',
		icon: 'mdi-account-hard-hat',
	},
	{
		type: 'item',
		title: 'Dostupnosti',
		to: '/availabilities',
		icon: 'mdi-calendar-account',
	},
	{
		type: 'item',
		title: 'Vytvoření',
		to: '/availabilities/generation',
		icon: 'mdi-calendar-plus',
		indent: 1,
	},
	{
		type: 'item',
		title: 'Rezervace',
		to: '/reservation',
		icon: 'mdi-cart-plus',
	},
	{
		type: 'spacer',
	},
]
</script>

<style scoped lang="scss">
.v-list-item {
  transition-timing-function: ease;
  transition-duration: 0.2s
}
</style>
