<template>
  <div>
    <v-btn
      variant="text"
      icon="mdi-filter"
      @click="drawer = !drawer"
    />
    <div>
      <v-navigation-drawer
        v-model="drawer"
        location="right"
        permanent
      >
        <v-form
          ref="form"
          class="installationForm"
          lazy-validation
        >
          <v-row>
            <v-col cols="11">
              <div class="mt-5 ml-6">
                <v-select
                  id="role"
                  key="userInput.roleValue"
                  v-model="filtrationInput.roleValue"
                  :items="roles"
                  label="Role"
                  item-value="value"
                  item-title="description"
                  clearable
                  multiple
                  chips
                />
              </div>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="11">
              <div class="mt-5 ml-6">
                <v-text-field
                  id="lastName"
                  v-model="filtrationInput.lastName"
                  label="Příjmení"
                />
                <v-text-field
                  id="address"
                  v-model="filtrationInput.address"
                  label="Adresa"
                />
                <v-text-field
                  id="email"
                  v-model="filtrationInput.email"
                  label="E-mail"
                />
              </div>
            </v-col>
            <v-col cols="11">
              <div class="ml-6">
                <v-switch
                  id="active"
                  v-model="filtrationInput.isActive"
                  :label="`${
                    filtrationInput.isActive
                      ? translates.user.labelIsActive
                      : translates.user.labelIsNotActive
                  }`"
                />
              </div>
            </v-col>
          </v-row>
          <v-btn
            color="success"
            class="ml-12"
            @click.prevent="resetValues()"
          >
            Resetovat filtr
          </v-btn>
        </v-form>
      </v-navigation-drawer>
    </div>
  </div>
</template>

<script setup lang="ts">
import { useEntityRoleSelect } from '@composables/entity/role/select'
import { RoleSelectFragment, Role_Enum } from '@gql/generated'

const emit = defineEmits(['changeFiltration'])

const drawer = ref(false)
const form = ref()

const roles = ref<Array<RoleSelectFragment>>([])
const { selectQuery: roleSelectQuery } = useEntityRoleSelect()
roleSelectQuery.then(({ data }) => {
	roles.value = data.value?.roles || []
})

const filtrationInput = ref({
	lastName: undefined,
	email: undefined,
	address: undefined,
	isActive: undefined,
	roleValue: [],
})
const translates = useTranslates()

const resetValues = () => {
	filtrationInput.value.lastName = undefined,
	filtrationInput.value.email = undefined,
	filtrationInput.value.address = undefined,
	filtrationInput.value.isActive = undefined,
	filtrationInput.value.roleValue = []
}
watch(filtrationInput.value, () => {
	emit('changeFiltration', filtrationInput.value)
})
</script>
