<template>
  <global-confirm-dialog
    :model-value="!!userId"
    @confirmed="submit(userId)"
    @rejected="$emit('canceled')"
  >
    {{ translates.user.textConfirmDeleteUser }}
  </global-confirm-dialog>
</template>

<script setup lang="ts">
const emit = defineEmits(['deleted', 'error', 'canceled'])

defineProps({
	userId: {
		type: String,
		required: true
	}
})

const translates = useTranslates()
const { deleteItem, error } = useEntityUserCRUD()

const submit = async (itemId) => {
	await deleteItem(itemId)

	if (error.value) {
		emit('error')
	} else {
		emit('deleted')
	}
}
</script>
