<template>
  <div v-if="!itemQuery.error.value">
    <div v-if="itemQuery.fetching.value">
      Loading...
    </div>
    <v-form
      v-else
      class="userForm"
      validate-on-mount
    >
      <v-container>
        <v-row>
          <v-col
            cols="12"
            md="4"
          >
            <form-custom-input
              v-model="userInput.firstName" 
              name="firstName" type="text" :label="translates.user.labelFirstName"
              clearable
            />
          </v-col>

          <v-col
            cols="12"
            md="4"
          >
            <form-custom-input
              v-model="userInput.lastName" 
              name="lastName" type="text" :label="translates.user.labelLastName"
              clearable
            />
          </v-col>

          <!-- <v-col
            v-if="userId"
            cols="12"
            md="4"
          >
            <form-custom-input
              v-model="userInput.login" 
              name="login" type="text" :label="translates.user.labelLogin"
              clearable
            />
          </v-col> -->

          <v-col
            cols="12"
            md="4"
          >
            <form-custom-input
              v-model="userInput.password" 
              name="password" type="text" :label="translates.user.labelPassword"
              clearable
            />
          </v-col>

          <v-col
            cols="12"
            md="4"
          >
            <form-custom-input
              v-model="userInput.address" 
              name="address" type="text" :label="translates.user.labelAddress"
              clearable
            />
          </v-col>

          <v-col
            cols="12"
            md="4"
          >
            <form-custom-input
              v-model="userInput.companyName"
              name="companyName" type="text" :label="translates.user.labelCompanyName"
              clearable
            />
          </v-col>

          <v-col
            cols="12"
            md="4"
          >
            <form-custom-input
              v-model="userInput.email"
              name="email" type="text" :label="translates.user.labelEmail"
              clearable
            />
          </v-col>

          <v-col
            cols="12"
            md="4"
          >
            <form-custom-input
              v-model="userInput.phone"
              name="phone" type="text" :label="translates.user.labelPhone"
              clearable
            />
          </v-col>

          <v-col
            cols="12"
            md="4"
          >
            <form-custom-input
              v-model="userInput.in"
              name="in" type="text" :label="translates.user.labelIn"
              clearable
            />
          </v-col>

          <v-col
            cols="12"
            md="4"
          >
            <form-custom-input
              v-model="userInput.tin"
              name="tin" type="text" :label="translates.user.labelTin"
              clearable
            />
          </v-col>
          
          <v-col
            cols="12"
            md="4"
          >
            <v-switch
              id="active"
              v-model="userInput.isActive"
              color="green-darken-3"
              :label="`${userInput.isActive ? translates.user.labelIsActive : translates.user.labelIsNotActive}`"
            />
          </v-col>

          <v-spacer />

          <v-col
            cols="12"
            md="6"
          >
            <v-select
              id="serviceTypes"
              v-model="serviceTypesSelected"
              :items="serviceTypes"
              label="Specializace"
              item-value="value"
              item-title="description"
              multiple
              chips
            />
          </v-col>

          <v-col
            cols="12"
            md="12"
          >
            <form-custom-input
              v-model="userInput.comment"
              name="comment" type="text" :label="translates.user.labelComment"
              clearable
            />
          </v-col>
        </v-row>
        <v-row justify="end" class="mb-3">
          <v-col v-if="userInput.id" cols="auto">
            <v-btn
              :disabled="!true"
              class="bg-primary"
              @click="shouldShowZipCodeDialog = true"
            >
              Přiřadit PSČ
            </v-btn>
          </v-col>
          <v-col v-if="!userInput.firebaseId && userInput.id" cols="auto">
            <v-btn
              :disabled="!true"
              class="bg-primary"
              @click.prevent="allowAccessToAdminDashboard"
            >
              Nastavit přístup do Administrace
            </v-btn>
          </v-col>
        </v-row>
        <div class="text-right">
          <v-btn
            v-if="userId"
            color="error"
            class="mr-4"
            @click="router.go(-1)"
          >
            zpět
          </v-btn>
          <v-btn
            :disabled="!true"
            color="success"
            @click="clickSubmitHandler(userInput)"
          >
            {{ userId ? translates.user.buttonUpdate : translates.user.buttonCreate }}
          </v-btn>
        </div>
      </v-container>
    </v-form>
  </div>
  <div v-else>
    <h1>Zadaný řemeslník: {{ props.userId }} neexistuje</h1>
  </div>

  <div v-if="userInput.id" class="d-flex align-center flex-column py-5">
    <calendar-overview-calendar v-if="events.length > 0" :events="events" @change="calendarChanged" />
    <v-card
      width="1100"
      theme="light"
      variant="tonal"
      elevation="4"
      title="Historie objednávek:"
    >
      <v-container>
        <v-row>
          <v-col
            cols="11"
          >
            <list-view-table
              v-model:selected="selected"
              detail-path="/installations"
              :loading="fetching"
              :items="items"
              :columns="columns"
            />
          </v-col>
          <v-col
            cols="1"
          >
            <list-action-button
              v-model:columns="columns"
              :selected="selected"
              :actions="actions"
              @action="handleAction"
            />
          </v-col>
        </v-row>
        <list-paginator
          v-model:page="page"
          v-bind="{ limit, count }"
        />
        <v-row>
          <!-- <confirm-dialog
        :model-value="shouldShowCreateDialog"
        @confirmed="handleCreate"
        @rejected="shouldShowCreateDialog = false"
      >
        TODO: ...
        Vytvořit montáž
      </confirm-dialog> -->
          <v-dialog
            :model-value="shouldShowCreateDialog"
            width="1000"
          >
            <v-card>
              <v-card-text>
                <installation-edit
                  v-if="shouldShowCreateDialog"
                  :installation-id="''"
                  @updated="shouldShowCreateDialog = false"
                  @canceled="shouldShowCreateDialog = false"
                />
              </v-card-text>
            </v-card>
          </v-dialog>
  
          <global-confirm-dialog
            :model-value="shouldShowDeleteDialog"
            @confirmed="handleDelete"
            @rejected="shouldShowDeleteDialog = false"
          >
            {{ translates.installation.textConfirmDeleteInstallation }}
          </global-confirm-dialog>
        </v-row>
      </v-container>
    </v-card>
    <global-confirm-dialog 
      :model-value="shouldShowZipCodeDialog"
      title="Přiřazení poštovního směrovacího čísla"
      size="1000" 
      @rejected="
        shouldShowZipCodeDialog = false;
      "
      @confirmed="updateAssignedZipCodes(zipCodesToAssign)"
    >
      <form-mover 
        v-model:selected="zipCodesToAssign" 
        :items="allZipCodes"
        right-title="Přiřazená poštovní směrovací čísla"
      />
    </global-confirm-dialog>
  </div>
</template>

<script setup lang="ts">
import { 
	RoleSelectFragment,
	ServiceTypeSelectFragment, 
	ServiceType_Enum, 
	UserZipCodes_Insert_Input, 
} from '@gql/generated'
import { useForm } from 'vee-validate'
import { ActionName } from '@composables/entity/abstract'
import dayjs from 'dayjs'
import minMax from 'dayjs/plugin/minMax'
dayjs.extend(minMax)

const emit = defineEmits(['updated', 'error', 'canceled'])

const props = defineProps({
	userId: {
		type: String,
		default: undefined,
	}
})

const translates = useTranslates()
const router = useRouter()

const { registerUser } = useAuth()

const userId = ref(props.userId)

const { updateItem, updateUserByPK, error } = useEntityUserCRUD()
const { updateUserZipCode, error: zipCodeError } = useEntityUserZipCodeCRUD()
const { allZipCodesQuery, assignedZipCodesQuery, userId: userZipCodeListId } = useZipCodesList()
const { itemQuery, itemDefaults } = useEntityUserSingle(userId)
const userInput = ref(itemDefaults)

const allowAccessToAdminDashboard = async () => {
	const { email, firstName, lastName, login, password, isActive } = userInput.value
	const { data, error } = await useFetch('/api/createLogin', {
		method: 'post',
		body: { email, firstName, lastName, login, password, isActive, userId },
	})

	userInput.value.firebaseId = data.value?.response.uid

	if(data.value?.response.uid){
		await updateUserByPK(userInput.value)
	} 
}

const clickSubmitHandler = (userInput) => {
	if(userId) {
		submit(userInput)
	}  else {
	//registerUser(userInput.email, userInput?.password || '')
	}
} 

itemQuery.then(({ data }) => {
	userInput.value = data.value?.user || itemDefaults
	serviceTypesSelected.value = userInput.value.userServiceTypes.map(({ serviceTypeValue }) => serviceTypeValue)
	// TODO -- kdyz error udelej neco
	// form.value.validate()
})

const userValidationSchema = {
	firstName: 'notEmptyTextbox|maxLengthTextbox:20',
	lastName: 'notEmptyTextbox|maxLengthTextbox:20',
	password: 'notEmptyTextbox',
	email: 'notEmptyTextbox|validEmail|maxLengthTextbox:35',
	phone: 'notEmptyTextbox|validPhone|includesPhoneCode',
	in: 'validIn',
	tin: 'validTinPrefix|validTinLength',
}

const initialFormValues = ref()
const { meta, resetForm, validate } = useForm({
	initialValues: initialFormValues,
	validationSchema: userValidationSchema,
}) 

const roles = ref<Array<RoleSelectFragment>>([])
const { selectQuery: roleSelectQuery } = useEntityRoleSelect()
roleSelectQuery.then(({ data }) => {
	roles.value = data.value?.roles || []
})

const serviceTypes = ref<Array<ServiceTypeSelectFragment>>([])
const serviceTypesSelected = ref<Array<string>>([])
const { selectQuery: serviceTypeSelectQuery } = useEntityServiceTypeSelect()
serviceTypeSelectQuery.then(({ data }) => {
	serviceTypes.value = data.value?.serviceTypes || []
})

const submit = async (userInput) => {
	await validate()
	if (meta.value.valid) {
		userInput.userServiceTypes = serviceTypesSelected.value.map(serviceTypeValue => ({
			serviceTypeValue: serviceTypeValue as ServiceType_Enum,
			userId: userInput.id
		}))
		userInput.login = userInput.email

		await updateItem(userInput)

		if (error.value) {
			emit('error')
		} else {
			emit('updated', userInput)
			router.go(-1)
		}
	}
}

const state = useEntityInstallationState('home-widget')
const { columns, selected, page } = state

const installations = useInstallations()
const { limit, count, fetching, items } = installations

const { deleteItem } = useEntityInstallationCRUD()

// TODO: ...
const actions = [
	//{
	//	name: ActionName.Create,
	//	title: 'Přidat',
	//	icon: 'mdi-plus',
	//},
	{
		name: ActionName.Edit,
		title: 'Upravit',
		icon: 'mdi-square-edit-outline',
	},
	// TODO: ...
	// {
	// 	name: ActionName.Duplicate,
	// 	title: 'Duplikovat',
	// 	icon: 'mdi-content-copy',
	// },
	 {
 	  name: ActionName.Delete,
		title: 'Odstranit',
		icon: 'mdi-trash-can-outline',
	 }
]

const shouldShowCreateDialog = ref(false)
const shouldShowDeleteDialog = ref(false)

watchEffect(() => {
	installations.orderBy.value = state.orderBy.value
	installations.page.value = page.value
	installations.where.value = {
		availabilities: { userId: { _eq: userInput.value.id } } }
	
})

const handleAction = (event: ActionName) => {
	switch (event) {
	case ActionName.Edit:
		useRouter().push('/installations/' + selected.value[0])
		break
	case ActionName.Create:
		shouldShowCreateDialog.value = true
		break
	case ActionName.Delete:
		shouldShowDeleteDialog.value = true
		break
	}
}

const handleDelete = async () => {
	Promise.all(selected.value.map(id => deleteItem(id)))
		.then(() => {
			shouldShowDeleteDialog.value = false
			selected.value = []
		})
}

const shouldShowZipCodeDialog = ref<boolean>(false)
const allZipCodes = computed(() => {
	return allZipCodesQuery?.data?.value?.zipCodes.map(item => {
		return {
			value: item.id,
			text: `${item.id} - ${item.city}`
		}
	})  || []
})

userZipCodeListId.value = userId.value
const { data }  = await assignedZipCodesQuery
const zipCodesToAssign = ref(data.value?.zipCodes.map(item => item.id) || [])

const updateAssignedZipCodes = async (userZipCodesInput: Array<any>) => {
	if(userId.value) {
		const zipObjects: Array<UserZipCodes_Insert_Input> = userZipCodesInput.map(zipObject => {
			return {
				zipCodeId: zipObject,
				userId: userId.value
			}
		})

		await updateUserZipCode(userId.value, zipObjects)
		assignedZipCodesQuery.executeQuery({ requestPolicy: 'network-only' })
		shouldShowZipCodeDialog.value = false
	}   
}

onUpdated(async () => {
	initialFormValues.value =  { ...itemQuery.data.value?.user }
	resetForm({ values:initialFormValues.value })
})


const {
	availabilityQuery,
	shouldFetch,
	from: availabilityFrom,
	to: availabilityTo,
	userIds: availabilityUserIds
} = useAvailability()

availabilityUserIds.value = userId.value ? [userId.value] : []

const allAvailabilites = computed(() => {
	return availabilityQuery.data.value?.availability
})

const events = computed(() => {
	if (!allAvailabilites.value) {
		return []
	}

	return allAvailabilites.value
		.map((item) => {
			const start = dayjs(item.availableFrom)
			const end = dayjs(item.availableTo)
			const name = `${start.format('HH:mm')} - ${end.format('HH:mm')}`
			const user = item.user
			const count = 1

			return {
				start,
				name,
				end,
				user,
				count
			}
		})
})

const calendarChanged = (event: { start: { date: dayjs.Dayjs }; end: { date: dayjs.Dayjs} }) => {
	availabilityFrom.value = dayjs.max(event.start.date.startOf('day'), dayjs())
	availabilityTo.value = dayjs.max(event.end.date.endOf('day'), dayjs())
}

calendarChanged({ start: { date: dayjs() }, end: { date: dayjs().endOf('month').endOf('week') } })

onMounted(() => {
	shouldFetch.value = true
})

</script>
