<template>
  <v-text-field
    v-model="value"
    :error-messages="errorMessage"
  />
</template>

<script setup lang="ts">
import { useField } from 'vee-validate'

interface Props {
	name: string
}

const props = defineProps<Props>()

const nameRef = toRef(props, 'name')
const { value, errorMessage  } = useField(nameRef)
</script>
