<template>
  <v-file-input
    :show-size="1000"
    :color="color"
  >
    <template #selection="{ fileNames }">
      <template v-for="(fileName, index) in fileNames" :key="fileName">
        <v-chip
          v-if="index < 2"
          :color="color"
          label
          size="small"
          class="mr-2"
        >
          {{ fileName }}
        </v-chip>

        <span
          v-else-if="index === 2"
          class="text-overline text-grey-darken-3 mx-2"
        >
          +{{ fileNames.length - 2 }} File(s)
        </span>
      </template>
    </template>
  </v-file-input>
</template>

<script setup lang="ts">
interface Props {
  color?: string
}

const props = defineProps<Props>()
</script>
