<template>
  <v-card
    :class="{ 'lighten-2': dragover }"
    @drop.prevent="handleDrop"
    @click.prevent="input.click()"
    @dragover.prevent="dragover = true"
    @dragenter.prevent="dragover = true"
    @dragleave.prevent="dragover = false"
  >
    <v-card-item>
      <v-container>
        <v-row class="d-flex flex-column">
          <v-col class="text-center">
            <v-icon size="60">
              mdi-cloud-upload
            </v-icon>
          </v-col>
          <v-col class="text-center">
            <p>Přetáhněte soubory, které chcete přiložit.</p>
          </v-col>
        </v-row>
        <v-row v-if="showFiles && files.length" class="d-flex flex-column">
          <v-col class="text-center">
            <v-list density="compact">
              <v-list-item v-for="file,i in files" :key="`${i}-${file.name}`">
                <v-list-item-title>
                  {{ file.name }}
                </v-list-item-title>
              </v-list-item>
            </v-list>
          </v-col>
        </v-row>
      </v-container>
    </v-card-item>
    <v-file-input v-show="false" ref="input" v-bind="{ name, multiple }" @update:model-value="updateFiles" />
  </v-card>
</template>

<script setup lang="ts">

interface Props {
  name?: string
  multiple?: boolean
  showFiles?: boolean
  modelValue?: Array<File>
}

interface Events {
  (e: 'update:modelValue', value: Array<File>): void
  (e: 'change', value: Array<File>): void
}

const props = defineProps<Props>()
const emit = defineEmits<Events>()

const input = ref()
const files = ref(props.modelValue || [])
const dragover = ref(false)

const handleDrop = (event: DragEvent) => {
	dragover.value = false

	if (!props.multiple && event.dataTransfer && event.dataTransfer?.files?.length > 1) {
		// TODO: Throw an error or use only the first file?
	} else {
		updateFiles(Array.from(event.dataTransfer?.files || []))
	}
}

const updateFiles = (value: Array<File>) => {
	files.value = value
	emit('update:modelValue', files.value)
	emit('change', files.value)
}
</script>
