<template>
  <template v-if="variant === 'tile'">
    <!-- TODO: Show image only if file is image -->
    <v-img v-if="url" :src="url" max-height="200">
      <template #placeholder>
        <v-row class="fill-height ma-0" align="center" justify="center">
          <v-progress-circular :color="color" indeterminate />
        </v-row>
      </template>
    </v-img>
  </template>
  <template v-if="variant === 'text'">
    <a :href="url" target="_blank" rel="noopener noreferrer">
      {{ file.name }}
    </a>
  </template>
  <template v-if="variant === 'chip'">
    <v-chip pill>
      <v-avatar start>
        <v-img :src="url" />
      </v-avatar>
      {{ file.name }}
    </v-chip>
  </template>
  <template v-if="variant === 'details'">
    <v-icon :color="color" class="mr-2" size="small">
      mdi-file
    </v-icon>
    {{ file.name }} |
    {{ humanFileSize(metadata?.size || 0) }} |
    {{ humanDateTime(metadata?.timeCreated) }}
  </template>
  <!-- TODO: Add actions slot for edit & delete buttons -->
</template>

<script setup lang="ts">
import { FullMetadata, StorageReference } from '@firebase/storage'

interface Props {
  file: StorageReference
  color?: string
  variant?: 'tile' | 'chip' | 'text' | 'details'
}

const props = withDefaults(defineProps<Props>(), {
	variant: 'tile',
	color: 'primary',
})

const { getFileUrl, getFileMetadata } = useFirebaseStorage()

const url = ref<string>('')
const metadata = ref<FullMetadata>()

const loadFileInfo = async () => {
	url.value = await getFileUrl(props.file)
	metadata.value = await getFileMetadata(props.file)
}

loadFileInfo()

const humanDateTime = (date: string | undefined) => {
	if (!date) return ''

	return new Date(date).toLocaleString() // TODO: Format date
}

const humanFileSize = (bytes: number, si = true, dp = 1) => {
	const thresh = si ? 1000 : 1024

	if (Math.abs(bytes) < thresh) {
		return bytes + ' B'
	}

	const units = si
		? ['KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB']
		: ['KiB', 'MiB', 'GiB', 'TiB', 'PiB', 'EiB', 'ZiB', 'YiB']
	let u = -1
	const r = 10 ** dp

	do {
		bytes /= thresh
		++u
	} while (Math.round(Math.abs(bytes) * r) / r >= thresh && u < units.length - 1)


	return bytes.toFixed(dp) + ' ' + units[u]
}
</script>
