<template>
  <v-card rounded="0" elevation="3">
    <v-toolbar
      color="primary"
      class="rounded rounded-b-0 py-2"
    >
      <v-toolbar-title v-if="title" class="text-body-1">
        {{ title }}
      </v-toolbar-title>
      <form-custom-input
        v-else 
        v-model.lazy="searchedString"
        class="mx-5"
        full-width
        name="zipcode" 
        placeholder="Zadejte poštovní směrovací číslo" 
        type="text" 
        hide-details 
        variant="solo" 
        density="comfortable"
        append-inner-icon="mdi-magnify"
      />
    </v-toolbar>
    <v-table height="240px">
      <tbody>
        <tr
          v-for="item in visibleItems" :key="item.value"
          :class="selected.includes(item.value) && 'bg-primary-lighten-1'"
          @click.stop="$emit('update:selected', toggleSelected(item.value))"
        >
          <td>{{ item.text }} </td>
        </tr>
      </tbody>
    </v-table>
  </v-card>
</template>

<script setup lang="ts">
interface Props {
  items: Array<any>
  title?: string
  selected?: Array<any>
}

interface Emits {
  (e: 'update:selected', value: Array<any>): void,
}
  
const props = withDefaults(defineProps<Props>(), {
	selected: () => [],
	title: undefined
})

const emits = defineEmits<Emits>()

const searchedString = ref('')

const toggleSelected = (value) => {
	return props.selected.includes(value) ? props.selected.filter(item => item !== value) : [...props.selected, value]
}

const visibleItems = computed(() => {
	return searchedString ?  props.items?.filter(item => item.value.startsWith(searchedString.value)) : props.items
})

watch(props.selected, (value) => {
	console.log('filteredList: ', value)
})

</script>
