<template>
  <div>
    <v-row align="center" justify="center">
      <v-col md="5">
        <form-filtered-list
          v-model:selected="notAssignedSelection" 
          :items="allNotAssignedItems"
          :title="leftTitle"
        />
      </v-col>
      <v-col md="2" class="d-flex flex-column justify-center align-center">
        <v-btn
          class="ma-1"
          color="primary"
          variant="outlined"
          @click="moveRight"
        >
          <v-icon
            size="25"
            icon="mdi-chevron-right"
          />
        </v-btn>
        <v-btn
          class="ma-1"
          color="primary"
          variant="outlined"
          @click="moveLeft"
        >
          <v-icon
            size="25"
            icon="mdi-chevron-left"
          />
        </v-btn>
      </v-col>
      <v-col md="5">
        <form-filtered-list
          v-model:selected="assignedSelection" 
          :items="allAssignedItems" 
          :title="rightTitle"
        /> 
      </v-col>
    </v-row>
  </div>
</template>

<script setup lang="ts">
interface Props {
  items: Array<any>
  selected?: Array<string>
  rightTitle?: string
  leftTitle?: string
  
}
interface Emits {
  (e: 'update:selected', value: Array<any>): void,
}

const props = withDefaults(defineProps<Props>(), {
	selected: () => [],
	rightTitle: undefined,
	leftTitle: undefined
})
const emits = defineEmits<Emits>()

const notAssignedSelection = ref<Array<string>>([])
const assignedSelection = ref<Array<string>>([])

const allNotAssignedItems =  computed(() => {
	return props.items.filter(item => !props.selected.includes(item.value))
})

const allAssignedItems = computed(() => {
	return props.items.filter(item => props.selected.includes(item.value))
})

const moveRight = () => {
	if (notAssignedSelection.value.length !== 0) {
		emits('update:selected', [...notAssignedSelection.value, ...props.selected])
	} else {
		emits('update:selected', props.items.map(item => item.value))
	}
	notAssignedSelection.value = []
}

const moveLeft = () => {
	if (assignedSelection.value.length !== 0) {
		emits('update:selected', props.selected.filter(item => !assignedSelection.value.includes(item)))
	} else {
		emits('update:selected', [])
	}
	assignedSelection.value = []
}

</script>
