<!-- eslint-disable vue/multi-word-component-names -->
<template>
  <installation-edit 
    :installation-id="route.params.id.toString()"
  />
</template>

<script setup lang="ts">
const route = useRoute()
</script>
