<template>
  <v-card>
    <v-card-text>
      <v-form @submit.prevent>
        <v-card-title>
          Přihlášení
        </v-card-title>
        <v-card-text>
          <v-text-field
            v-model="credentials.email"
            type="email"
            label="E-mail"
            placeholder="your@email.com"
          />
          <v-text-field
            v-model="credentials.password"
            label="Heslo"
            type="password"
            placeholder="Enter a password"
          />
        </v-card-text>
        <v-card-actions
          class="d-flex justify-center mb-6"
        >
          <v-btn
            variant="plain"
            size="x-small"
            @click="resetUserPassword(credentials.email)"
          >
            Zapomněli jste heslo?
          </v-btn>
          <v-btn
            color="primary"
            type="submit"
            append-icon="mdi-login-variant"
            @click.prevent="loginUser(credentials.email, credentials.password)"
          >
            Přihlásit se
          </v-btn>
        </v-card-actions>
      </v-form>
    </v-card-text>
  </v-card>
</template>

<script setup lang="ts">
const { loginUser, resetUserPassword } = useAuth()

const credentials = reactive({
	email: '',
	password: ''
})
</script>

