<template>
  <v-list density="compact">
    <p class="text-subtitle-2 text-disabled mr-auto px-4">
      Akce
    </p>
    <!-- TODO: Disable actions for single record if multiple are selected -->
    <!-- TODO: Disable actions if no record is selected -->
    <v-list-item
      v-for="action in actions"
      :key="action.name"
      :title="action.title"
      :disabled="!isEnabled(action.name)"
      @click.stop="$emit('action', action.name)"
    >
      <template #prepend>
        <v-icon :icon="action.icon" />
      </template>
    </v-list-item>
  </v-list>
</template>

<script setup lang="ts">
import { Action, ActionName } from '@composables/entity/abstract'

interface Props {
  actions: Array<Action>
  selected?: Array<any>
}

interface Emits {
  (e: 'action', value: string ): void
}

const props = withDefaults(defineProps<Props>(), {
	selected: () => [],
})
const emits = defineEmits<Emits>()

const isEnabled = (action: ActionName) => {
	switch(action) {
	  case ActionName.Create: return true
	  case ActionName.Edit: return props.selected.length === 1
	  case ActionName.Delete:
	  case ActionName.Duplicate: return props.selected.length > 0
	  default: return false
	}
}
</script>
