<template>
  <v-menu
    open-on-hover
    :close-on-content-click="false"
  >
    <template #activator="{ props: buttonProps }">
      <v-btn
        v-bind="buttonProps"
        variant="flat"
        class="px-0"
        icon="mdi-dots-vertical"
      />
    </template>

    <v-card width="250px">
      <v-list>
        <v-list-item v-if="shouldShowActionSelector">
          <list-action-selector
            :actions="actions"
            :selected="selected"
            @action="$emit('action', $event)"
          />
        </v-list-item>
        <v-divider v-if="shouldShowActionSelector" />
        <v-list-item v-if="shouldShowColumnSelector">
          <list-sort-selector
            :columns="columns"
            @update:columns="$emit('update:columns', $event)"
          />
        </v-list-item>
        <v-divider v-if="shouldShowColumnSelector" />
        <v-list-item>
          <list-column-selector
            :columns="columns"
            @update:columns="$emit('update:columns', $event)"
          />
        </v-list-item>
      </v-list>
    </v-card>
  </v-menu>
</template>

<script setup lang="ts">
import { Action, ActionName, Column, SortableValue } from '@composables/entity/abstract'


interface Props {
  columns: Array<Column>
  actions: Array<Action>
  selected?: Array<any>
}

interface Emits {
  (e: 'action', value: ActionName): void
  (e: 'update:columns', value: Array<Column>): void
}

const props = withDefaults(defineProps<Props>(), {
	selected: () => [],
})
const emits = defineEmits<Emits>()

const shouldShowActionSelector = computed(() => props.actions.length > 0)
const shouldShowColumnSelector = computed(() => props.columns.some(c => c.sort !== undefined))
</script>
