<template>
  <v-list density="compact">
    <v-sheet
      v-if="sortedVisibleColumns.length"
      class="d-flex align-center px-4"
    >
      <p class="text-subtitle-2 text-disabled mr-auto">
        Zobrazené
      </p>
      <!-- <v-btn
        size="x-small"
        variant="text"
        color="primary"
        @click.stop="$emit('update:columns', setAllVisible(false))"
      >
        Skrýt vše
      </v-btn> -->
    </v-sheet>
    <v-list-item
      v-for="column in sortedVisibleColumns"
      :key="column.field"
      :value="column.field"
      class="py-0"
    >
      <list-column-toggle
        v-model:hidden="column.hidden"
        class="d-flex py-2"
        :title="column.title"
        @update:hidden="$emit('update:columns', columnsRef)"
      />
    </v-list-item>
    <v-divider
      v-if="sortedHiddenColumns.length && sortedVisibleColumns.length"
      class="mb-2"
    />
    <v-sheet
      v-if="sortedHiddenColumns.length"
      class="d-flex align-center px-4"
    >
      <p class="text-subtitle-2 text-disabled mr-auto">
        Skryté
      </p>
      <v-btn
        size="x-small"
        variant="text"
        color="primary"
        @click.stop="$emit('update:columns', setAllVisible(true))"
      >
        Zobrazit vše
      </v-btn>
    </v-sheet>
    <v-list-item
      v-for="column in sortedHiddenColumns"
      :key="column"
      :value="column.field"
      class="py-0"
    >
      <list-column-toggle
        v-model:hidden="column.hidden"
        class="d-flex py-2"
        :title="column.title"
        @update:hidden="$emit('update:columns', columnsRef)"
      />
    </v-list-item>
  </v-list>
</template>

<script setup lang="ts">
import { Column } from '@composables/entity/abstract'

interface Props {
  columns: Array<Column>
}

interface Emits {
  (e: 'update:columns', value: Array<Column>): void
}

const props = defineProps<Props>()
const emits = defineEmits<Emits>()

const columnsRef = toRef(props, 'columns')

const sortedColumns = computed(() =>
	columnsRef.value.sort((a, b) => (a.order || Number.MAX_VALUE) - (b.order || Number.MAX_VALUE))
)

const sortedVisibleColumns = computed(() => sortedColumns.value.filter(column => !column.virtual && !column.hidden))

const sortedHiddenColumns = computed(() => sortedColumns.value.filter(column => !column.virtual &&  column.hidden))

const setAllVisible = (show: boolean) => columnsRef.value.map(column => ({ ...column, hidden: !show }))
</script>
