<template>
  <v-sheet
    class="d-inline-block"
    @click.stop="$emit('update:hidden', !hidden)"
  >
    <span
      v-if="title"
      class="mr-auto"
    >
      {{ title }}
    </span>
    <v-icon
      :class="{ 'ml-2': title }"
      :icon="icons.get(hidden)"
    />
  </v-sheet>
</template>

<script setup lang="ts">
interface Props {
  title?: string
  hidden?: boolean
}

interface Emits {
  (e: 'update:hidden', value: boolean): void
}

const props = withDefaults(defineProps<Props>(), {
	title: undefined,
	hidden: false,
})
const emits = defineEmits<Emits>()

const icons = new Map([
	[false, 'mdi-eye-check-outline'],
	[true, 'mdi-eye-remove'],
])
</script>
