<template>
  <v-pagination
    v-model="pageRef"
    v-bind="{ limit, length }"
  />
</template>

<script setup lang="ts">
interface Props {
  page?: number
  limit?: number
  count?: number
}

interface Emits {
  (e: 'update:page', page: number): void
}

const props = withDefaults(defineProps<Props>(), {
	page: 1,
	limit: 10,
	count: 1,
})

const emits = defineEmits<Emits>()

const pageRef = ref(props.page)
const length = computed(()=> Math.ceil(props.count / props.limit))

watchEffect(() => emits('update:page', pageRef.value))
</script>
