<template>
  <v-list density="compact">
    <p class="text-subtitle-2 text-disabled mr-auto px-4">
      Seřadit
    </p>
    <v-list-item
      v-for="column in columnsRef.filter((column) => column.sort !== undefined)"
      :key="column.field"
      :value="column.field"
      class="py-0"
    >
      <list-sort-toggle
        v-model:value="column.sort"
        class="d-flex py-2"
        :title="column.title"
        @update:value="$emit('update:columns', columnsRef)"
      />
    </v-list-item>
  </v-list>
</template>

<script setup lang="ts">
import { Column } from '@composables/entity/abstract'

interface Props {
  columns: Array<Column>
}

interface Emits {
  (e: 'update:columns', value: Array<Column>): void
}

const props = defineProps<Props>()
const emits = defineEmits<Emits>()

const columnsRef = toRef(props, 'columns')
</script>
