<template>
  <v-sheet
    class="d-inline-block"
    @click.stop="$emit('update:value', values.get(value))"
  >
    <span
      v-if="title"
      class="mr-auto"
    >
      {{ title }}
    </span>
    <v-icon
      :class="{ 'ml-2': title }"
      :icon="icons.get(value)"
    />
  </v-sheet>
</template>

<script setup lang="ts">
import { SortableValue } from '@composables/entity/abstract'
import { Order_By } from '@gql/generated'

interface Props {
  title?: string
  value?: SortableValue
}

interface Emits {
  (e: 'update:value', value: SortableValue): void
}

const props = withDefaults(defineProps<Props>(), {
	title: undefined,
	value: null
})
const emits = defineEmits<Emits>()

const icons = new Map([
	[null, 'mdi-sort'],
	[Order_By.Asc, 'mdi-sort-ascending'],
	[Order_By.Desc, 'mdi-sort-descending'],
])

const values = new Map([
	[null, Order_By.Asc],
	[Order_By.Asc, Order_By.Desc],
	[Order_By.Desc, null],
])
</script>
