<template>
  <v-form validate-on-mount>
    <div>
      <v-row>
        <v-col
          cols="12"
          md="4"
        >
          <form-custom-input
            v-model="localCustomer.firstName"
            label="Jméno"
            name="firstName"
            type="text"
            clearable
          />
        </v-col>

        <v-col
          cols="12"
          md="4"
        >
          <form-custom-input
            v-model="localCustomer.lastName"
            label="Příjmení"
            name="lastName"
            type="text"
            clearable
          />
        </v-col>

        <v-col
          cols="12"
          md="4"
        >
          <form-custom-input
            v-model="localCustomer.email"
            label="E-mail"
            name="email"
            type="email"
            clearable
          />
        </v-col>

        <v-col
          cols="12"
          md="4"
        >
          <form-custom-input
            v-model="localCustomer.phone"
            label="Telefon"
            name="phone"
            type="text"
            clearable
          />
        </v-col>
      </v-row>
  
      <v-row>
        <v-col
          cols="12"
          md="4"
        >
          <form-custom-input
            v-model="localShippingAddress.street"
            label="Ulice"
            name="street"
            type="text"
            clearable
          />
        </v-col>

        <v-col
          cols="12"
          md="4"
        >
          <form-custom-input
            v-model="localShippingAddress.city"
            label="Obec"
            name="city"
            type="text"
            clearable
          />
        </v-col>

        <v-col
          cols="12"
          md="4"
        >
          <form-custom-input
            v-model="localShippingAddress.zipCode"
            label="PSČ"
            name="zipCode"
            type="text"
            clearable
          />
        </v-col>

        <v-col
          cols="12"
          md="4"
        >
          <form-custom-input
            v-model="localShippingAddress.state"
            label="Stát"
            name="state"
            type="text"
            clearable
          />
        </v-col>
      </v-row>
    </div>
  </v-form>
</template>

<script setup lang="ts">
import { useForm } from 'vee-validate'
import { Address, Customer } from '@interfaces/global'
import { PropType } from 'vue'


const emits = defineEmits(['update:customer', 'update:shippingAddress', 'update:formValid'])
const props = defineProps({
	customer: {
		type: Object as PropType<Customer>,
		required: true
	},
	shippingAddress: {
		type: Object as PropType<Address>,
		required: true
	},
	formValid: {
		type: Boolean,
		required: true
	}
})

const localCustomer = reactive({ ...props.customer })
const localShippingAddress = reactive({ ...props.shippingAddress })

const installationValidationSchema = {
	firstName: 'notEmptyTextbox|maxLengthTextbox:20',
	lastName: 'notEmptyTextbox|maxLengthTextbox:20',
	email: 'notEmptyTextbox|validEmail|maxLengthTextbox:35',
	phone: 'notEmptyTextbox|validPhone',
	street: 'notEmptyTextbox|maxLengthTextbox:50',
	city: 'notEmptyTextbox|maxLengthTextbox:50',
	zipCode: 'notEmptyTextbox|validZipcode',
	state: 'notEmptyTextbox|maxLengthTextbox:35',
}

const { meta } = useForm({
	initialValues: { ...localCustomer, ...localShippingAddress },
	validationSchema: installationValidationSchema
})

watch(meta, (value) => emits('update:formValid', value.valid))
watch(localCustomer, (value) => emits('update:customer', value))
watch(localShippingAddress, (value) => emits('update:shippingAddress', value))
</script>
