<template>
  <div>
    <v-btn
      variant="text"
      icon="mdi-filter"
      @click="drawer = !drawer"
    />
    <div>
      <v-navigation-drawer
        v-model="drawer"
        location="right"
        permanent
      >
        <v-form
          ref="form"
          class="installationForm"
          lazy-validation
        >
          <v-row>
            <v-col cols="11">
              <div class="mt-5 ml-6">
                <v-select
                  key="filtrationInput.eshopId"
                  v-model="filtrationInput.eshopId"
                  :items="eshops"
                  item-value="id"
                  item-title="name"
                  label="E-Shop"
                  clearable
                  multiple
                  chips
                />
              </div>
            </v-col>
          </v-row>
          <v-row>
            <v-col cols="11">
              <div class="mt-5 ml-6">
                <v-text-field
                  id="lastName"
                  v-model="filtrationInput.customer"
                  label="Zákazník"
                  required
                />
                <v-text-field
                  id="address"
                  v-model="filtrationInput.address"
                  label="Adresa"
                  required
                />
              </div>
            </v-col>
          </v-row>
          <v-btn
            color="success"
            class="ml-12"
            @click.prevent="resetValues()"
          >
            Resetovat filtr
          </v-btn>
        </v-form>
      </v-navigation-drawer>
    </div>
  </div>
</template>

<script setup lang="ts">
import { useEntityEshopSelect } from '@composables/entity/eshop/select'
import { EshopSelectFragment } from '@gql/generated'
const emit = defineEmits(['changeFiltration'])

const drawer = ref(false)
const form = ref()
const eshops = ref<Array<EshopSelectFragment>>([])
const { selectQuery: eshopSelectQuery } = useEntityEshopSelect()
eshopSelectQuery.then(({ data }) => {
	eshops.value = data.value?.eshops || []
})
const filtrationInput = ref({
	eshopId: undefined,
	customer: undefined,
	address: undefined,
})
const resetValues = () => {
	filtrationInput.value.eshopId = undefined
	filtrationInput.value.address = undefined
	filtrationInput.value.customer = undefined
}
watch(filtrationInput.value, () => {
	emit('changeFiltration', filtrationInput.value)
})
</script>
