<template>
  <div v-if="!itemQuery.error.value">
    <div v-if="itemQuery.fetching.value || eshopSelectQuery.fetching.value">
      Loading...
    </div>

    <v-form v-else class="installationForm">
      <v-container>
        <v-row>
          <v-col md="6">
            <v-toolbar class="mb-3" color="primary-lighten-1 text-white rounded-sm">
              <v-toolbar-title class="text-capitalize text-body-1">
                Zákazník
              </v-toolbar-title>
            </v-toolbar>
            <v-card class="body-2">
              <v-table>
                <tbody>
                  <tr>
                    <td>Jméno:</td>
                    <td>{{ installationInput.customer.firstName }}</td>
                  </tr>
                  <tr>
                    <td>Příjmení:</td>
                    <td>{{ installationInput.customer.lastName }}</td>
                  </tr>
                  <tr>
                    <td>E-mail:</td>
                    <td>{{ installationInput.customer.email }}</td>
                  </tr>
                  <tr>
                    <td>Telefon:</td>
                    <td>{{ installationInput.customer.phone }}</td>
                  </tr>
                  <tr>
                    <td>Poznámka:</td>
                    <td>{{ installationInput.customer.note }}</td>
                  </tr>
                </tbody>
              </v-table>
            </v-card>
          </v-col>
          <v-col md="6">
            <v-toolbar color="primary-lighten-1 text-white" class="mb-3 rounded-sm">
              <v-toolbar-title class="text-capitalize text-body-1">
                Adresa
              </v-toolbar-title>
            </v-toolbar>
            <v-card>
              <v-table>
                <tbody>
                  <tr>
                    <td>Ulice:</td>
                    <td>{{ installationInput.shippingAddress.street }}</td>
                  </tr>
                  <tr>
                    <td>Obec:</td>
                    <td>{{ installationInput.shippingAddress.city }}</td>
                  </tr>
                  <tr>
                    <td>PSČ:</td>
                    <td>{{ installationInput.shippingAddress.zipCode }}</td>
                  </tr>
                  <tr>
                    <td>Stát:</td>
                    <td>{{ installationInput.shippingAddress.state }}</td>
                  </tr>
                </tbody>
              </v-table>
            </v-card>
          </v-col>
        </v-row>
        <v-row class="mb-6">
          <v-col>
            <v-btn color="success" class="mr-4" @click="isOpen = true">
              Upravit Údaje
            </v-btn>
          </v-col>
        </v-row>
        
        <v-toolbar class="mb-4" color="primary-lighten-1 text-white rounded-sm">
          <v-toolbar-title class="text-capitalize text-body-1">
            Objednávka
          </v-toolbar-title>
        </v-toolbar>
        <v-row class="mb-6">
          <v-col cols="12" md="12">
            <v-card>
              <v-table>
                <tbody>
                  <tr v-for="item in installationInput.items" :key="item.productId">
                    <td>Název: {{ item.title }}</td>
                    <td>Množství: {{ item.amount }}</td>
                    <td>Cena: {{ item.price }} Kč</td>
                    <td>
                      <v-img :src="item.imageUrl" :alt="item.title" height="80" width="80" />
                    </td>
                    <td>
                      <a :href="item.url" target="_blank">
                        <v-icon small>mdi-open-in-new</v-icon>
                      </a>
                    </td>
                  </tr>
                </tbody>
              </v-table>
            </v-card>
          </v-col>
          <v-col cols="12" md="4">
            <v-select
              key="installationInput.eshopId"
              v-model="installationInput.eshopId"
              :items="eshopSelectQuery.data.value?.eshops"
              item-value="id"
              item-title="name"
              label="E-Shop"
              required
              readonly
            />
          </v-col>
          <v-col cols="12" md="4">
            <form-custom-input
              v-model="installationInput.orderId"
              label="Id Objednávky"
              type="text"
              name="orderId"
              readonly
            />
          </v-col>
          <v-col cols="12" md="4">
            <form-custom-input
              v-model="installationInputSelectedDate"
              label="Zvolený čas instalace"
              type="text"
              name="orderId"
              readonly
            />
          </v-col>
        </v-row>
        <v-toolbar dark class="mb-6" color="primary-lighten-1 text-white rounded-sm">
          <v-toolbar-title class="text-capitalize text-body-1">
            Řemeslník
          </v-toolbar-title>
        </v-toolbar>
        <div v-if="availabilityQuery.fetching.value">
          Loading ...
        </div>
        <v-container v-else class="pa-0">
          <v-row>
            <v-col md="3" class="d-flex flex-column">
              <v-toolbar dark>
                <v-toolbar-title class="text-capitalize text-body-1">
                  {{ actualDate.format("D. MMMM YYYY") }}
                </v-toolbar-title>
                <v-btn
                  icon
                  color="primary"
                  :disabled="actualDate.get('D') === minLimitDate.get('D')"
                  @click="removeDayFromDate"
                >
                  <v-icon> mdi-chevron-left </v-icon>
                </v-btn>
                <v-btn
                  icon
                  color="primary"
                  :disabled="!actualDate.isBefore(maxLimitDate, 'day')"
                  @click="addDayToDate"
                >
                  <v-icon> mdi-chevron-right </v-icon>
                </v-btn>
              </v-toolbar>
              <v-card class="flex-grow-1">
                <v-list v-if="availabilityQuery.data?.value?.availability.length !== 0">
                  <v-list-item
                    v-for="timeSlot in availableTimeSlots"
                    :key="timeSlot.fromTo"
                    :class="[
                      selectedTimeSlot === timeSlot.fromTo ? 'bg-primary-lighten-1' : '',
                      availabilityIds.some((id) => timeSlot.availability.some((tsId) => id === tsId.id))
                        ? 'bg-primary-lighten-2': '',
                    ]"
                    @click="selectedTimeSlot = timeSlot.fromTo"
                  >
                    <template #prepend>
                      <v-icon
                        v-if="availabilityIds.some((id) => timeSlot.availability.some((tsId) => id === tsId.id))"
                        icon="mdi-check-bold"
                      />
                      <v-icon v-else icon="mdi-clock" />
                    </template>
                    <v-list-item-title>
                      {{ timeSlot.fromTo }}
                    </v-list-item-title>
                  </v-list-item>
                </v-list>
                <div v-else class="text-center pa-5">
                  <p>Pro zadané datum nejsou volné žádne časové sloty</p>
                </div>
              </v-card>
            </v-col>

            <v-col md="3" class="d-flex">
              <v-card class="flex-grow-1">
                <v-toolbar dark>
                  <v-toolbar-title class="text-body-1">
                    Dostupní Řemeslníci
                  </v-toolbar-title>
                </v-toolbar>
                <v-list v-if="availabilitiesInTimeSlot.length !== 0">
                  <v-list-item
                    v-for="availability in availabilitiesInTimeSlot"
                    :key="availability.id"
                    :class="[
                      availabilityIds.some((item) => item === availability.id)
                        ? 'bg-primary-lighten-1'
                        : '',
                    ]"
                    @click="handleAvailabilityClick(availability.id)"
                  >
                    <template #prepend>
                      <v-icon
                        v-if="availabilityIds.some((item) => item === availability.id)"
                        icon="mdi-check-bold"
                      />
                      <v-icon v-else icon="mdi-account-hard-hat" />
                    </template>
                    <v-list-item-title>
                      {{ `${availability.user.firstName} ${availability.user.lastName}` }}
                    </v-list-item-title>
                    <v-list-item-subtitle>
                      {{ actualDate.format(format.date) + " - " + selectedTimeSlot }}
                    </v-list-item-subtitle>
                  </v-list-item>
                </v-list>
                <div v-else class="pa-5 text-center">
                  <p>Vyberte datum s volnými časovými sloty</p>
                </div>
              </v-card>
            </v-col>

            <v-col md="6" class="d-flex">
              <v-card class="flex-grow-1">
                <v-toolbar>
                  <v-toolbar-title class="text-body-1">
                    Řemeslník Detail
                  </v-toolbar-title>
                </v-toolbar>
                <template v-if="availabilitiesInTimeSlot.length > 0">
                  <v-list v-if="firstSelectedArtisan?.id">
                    <v-table>
                      <tbody>
                        <tr>
                          <td>Jméno:</td>
                          <td>{{ firstSelectedArtisan.firstName }}</td>
                        </tr>
                        <tr>
                          <td>Příjmení:</td>
                          <td>{{ firstSelectedArtisan.lastName }}</td>
                        </tr>
                        <tr>
                          <td>E-mail:</td>
                          <td>{{ firstSelectedArtisan.email }}</td>
                        </tr>
                        <tr>
                          <td>Telefonní číslo:</td>
                          <td>{{ firstSelectedArtisan.phone }}</td>
                        </tr>
                        <tr>
                          <td>Adresa bydliště:</td>
                          <td>{{ firstSelectedArtisan.address }}</td>
                        </tr>
                        <tr v-if="firstSelectedArtisan.comment">
                          <td>Komentář</td>
                          <td>{{ firstSelectedArtisan.comment }}</td>
                        </tr>
                      </tbody>
                    </v-table>
                  </v-list>
                  <div v-else class="pa-5 text-center">
                    <p>Vyberte dostupného řemeslníka</p>
                  </div>
                </template>
                <div v-else class="pa-5 text-center">
                  <p>Vyberte datum s volnými časovými sloty</p>
                </div>
              </v-card>
            </v-col>
          </v-row>
          <v-row>
            <v-col>
              <v-card class="flex-grow-1">
                <v-toolbar>
                  <v-toolbar-title class="text-body-1">
                    Vybraná časová okna
                  </v-toolbar-title>
                </v-toolbar>
                <v-card-item>
                  <v-list v-if="availabilityIds.length !== 0">
                    <v-list-item
                      v-for="availability in currentlySelectedAvailabilityValues"
                      :key="availability.id"
                      @click="handleAvailabilityClick(availability.id)"
                    >
                      <v-list-item-title>
                        {{
                          `${availability.user.firstName} ${availability.user.lastName}`
                        }}
                      </v-list-item-title>
                      <v-list-item-subtitle>
                        {{
                          // eslint-disable-next-line max-len
                          `${dayjs(availability.availableFrom).format(
                            `${format.date} HH:mm`
                          )} - ${dayjs(availability.availableTo).format("HH:mm")}`
                        }}
                      </v-list-item-subtitle>
                    </v-list-item>
                  </v-list>
                  <div v-else class="pa-5 text-center">
                    <p>Momentálně nevybráno</p>
                  </div>
                </v-card-item>
              </v-card>
            </v-col>
          </v-row>
        </v-container>
        <v-row>
          <v-col cols="12">
            <v-select
              id="installationState"
              key="installationInput.stateValue"
              v-model="installationInput.stateValue"
              item-value="value"
              item-title="title"
              :items="installationStates"
              label="Stav instalace"
              required
            />
          </v-col>
        </v-row>
        <v-row>
          <v-col>
            <installation-section-attachments
              v-if="installationId"
              :installation-id="installationId"
            />
          </v-col>
        </v-row>
        <v-row>
          <v-col v-if="installationId" cols="12" md="6">
            <comment-list :installation-id="installationId" />
            <comment-form :installation-id="installationId" />
          </v-col>
        </v-row>
        <div class="text-right">
          <v-btn
            v-if="installationId"
            color="error"
            class="mr-4"
            @click="router.go(-1)"    
          >
            zpět
          </v-btn>
          <v-btn
            color="success"
            class="mr-4"
            @click.prevent="submit(installationInput)"
          >
            Uložit
          </v-btn>
        </div>
      </v-container>
    </v-form>
    <global-confirm-dialog
      :model-value="isOpen"
      title="Detail Zákazníka"
      size="1000"
      @rejected="
        isOpen = false;
        customerInput = installationInput.customer;
        shippingAddressInput = installationInput.shippingAddress;
      "
      @confirmed="updateInstallationData(customerInput, shippingAddressInput)"
    >
      <installation-customer-editor
        v-model:customer="customerInput"
        v-model:shipping-address="shippingAddressInput"
        v-model:form-valid="formValid"
      />
    </global-confirm-dialog>
  </div>
  <div v-else>
    <h1>Zadaná instalace: {{ props.installationId }} neexistuje</h1>
  </div>
</template>

<script setup lang="ts">
import { useAvailability } from '@composables/entity/availability/list'
import { useEntityInstallationStateSelect } from '@composables/entity/installationState/select'
import {
	EshopSelectFragment,
	UserSelectFragment,
	AvailabilityFragment,
	InstallationStateSelectFragment,
	useGetInstallationAvailabilityQuery,
} from '@gql/generated'
import { AvailableTimeSlot } from '@interfaces/global'
import dayjs from 'dayjs'
import cs from 'dayjs/locale/cs'
import isBetween from 'dayjs/plugin/isBetween'

dayjs.extend(isBetween)
dayjs.locale(cs)

const emit = defineEmits(['updated', 'error', 'canceled'])

const props = defineProps({
	installationId: {
		type: String,
		default: undefined,
	},
})

const formValid = ref(false)
const valid = ref(false)
const { message } = useMessages()
const isOpen = ref<boolean>(false)

const installationId = ref(props.installationId)
const { format } = useTranslates()
const { updateItem, error } = useEntityInstallationCRUD()
const { updateAvailability } = useEntityAvailabilityCRUD()
const { itemQuery, itemDefaults } = useEntityInstallationSingle(installationId)

const {
	from: availabilityFrom,
	to: availabilityTo,
	installationId: availabilityInstallationId,
	shouldFetch: availabilityShouldFetch,
	eshopId: availabilityEshopId,
	zipCode: availabilityZipCode,
	eshopCategoryIds: availabilityEshopCategoryIds,
	availabilityQuery,
} = useAvailability()

availabilityInstallationId.value = installationId.value

const router = useRouter()

const installationInput = ref(itemDefaults)

const customerInput = ref()
const shippingAddressInput = ref()

const actualDate = ref(dayjs())
const maxLimitDate = ref(dayjs())
const minLimitDate = ref(dayjs())
const selectedTimeSlot = ref<string>('')
const preferedTimeSlot = ref<string>('')
const availabilityIds = ref<Array<string>>([])

const updateInstallationData = async (customerDetails, shippingAddressDetails) => {
	if (formValid.value) {
		installationInput.value.customer = customerDetails
		installationInput.value.shippingAddress = shippingAddressDetails

		await updateItem(installationInput.value)
		availabilityZipCode.value = normalizeZipCode(
			installationInput.value.shippingAddress.zipCode
		)
		isOpen.value = false
	}
}

const servicemans = ref<Array<UserSelectFragment>>([])
const { selectQuery: servicemanSelectQuery } = useEntityUserSelect()
servicemanSelectQuery.then(({ data }) => {
	servicemans.value = data.value?.users || []
})

const eshops = ref<Array<EshopSelectFragment>>([])
const { selectQuery: eshopSelectQuery } = useEntityEshopSelect()
eshopSelectQuery.then(({ data }) => {
	eshops.value = data.value?.eshops || []
})
const installationStates = ref<Array<InstallationStateSelectFragment>>([])
const { selectQuery: installationStateSelectQuery } = useEntityInstallationStateSelect()
installationStateSelectQuery.then(({ data }) => {
	return (installationStates.value = data.value?.installationStates || [])
})

const handleAvailabilityClick = (availabilityId: string) => {
	availabilityIds.value = availabilityIds.value.includes(availabilityId)
		? availabilityIds.value.filter((id) => id !== availabilityId)
		: [...availabilityIds.value, availabilityId]
}

itemQuery.then(({ data }) => {
	installationInput.value = data.value?.installation || itemDefaults
	availabilityIds.value = installationInput.value.availabilities.map((item) => item.id)
	customerInput.value = data.value?.installation?.customer
	shippingAddressInput.value = data.value?.installation?.shippingAddress

	availabilityEshopId.value = data.value?.installation?.eshopId
	availabilityZipCode.value = normalizeZipCode(
		data.value?.installation?.shippingAddress?.zipCode
	)
	availabilityEshopCategoryIds.value =
    data.value?.installation?.items?.map((item) => item.category) || []

	availabilityShouldFetch.value = true

	actualDate.value = installationInput.value.selectedDateTime
		? dayjs(installationInput.value.selectedDateTime.from)
		: dayjs()
	maxLimitDate.value = dayjs(actualDate.value).endOf('day').add(14, 'day')
	minLimitDate.value = dayjs().isBefore(actualDate.value) ? dayjs() : actualDate.value
	// TODO
	// form.value?.validate()
})

const installationInputSelectedDate = computed(() => {
	const dateTime = installationInput.value.selectedDateTime

	if (dateTime?.from && dateTime?.to) {
		return `${dayjs(dateTime.from).format('D.M.YYYY HH:mm')} - ${dayjs(
			dateTime.to
		).format('HH:mm')}`
	} else {
		return 'Nevybrán'
	}
})

watch(actualDate, (value) => {
	if (dayjs().get('D') === actualDate.value.get('D')) {
		availabilityFrom.value = dayjs()
		availabilityTo.value = value.endOf('day')
	} else {
		availabilityFrom.value = value.startOf('day')
		availabilityTo.value = value.endOf('day')
	}
})

const addDayToDate = () => {
	actualDate.value = dayjs(actualDate.value).add(1, 'day')
}

const removeDayFromDate = () => {
	actualDate.value = dayjs(actualDate.value).subtract(1, 'day')
}

const getTimeSlotValue = (from: string | Date, to: string | Date) => {
	return `${dayjs(from).format('HH:mm')} - ${dayjs(to).format('HH:mm')}`
}

const availableTimeSlots = computed<AvailableTimeSlot>(() => {
	return availabilityQuery.data.value?.availability
		.map((item) => {
			const start = dayjs(item.availableFrom)
			const end = dayjs(item.availableTo)
			const fullSlot = `${start.format('HH:mm')} - ${end.format('HH:mm')}`

			return {
				start,
				fullSlot,
				end,
				item,
			}
		})
		.reduce((acc, { fullSlot, start, end, item }) => {
			acc[fullSlot] ??= {
				fromTo: fullSlot,
				availabilityStart: start,
				availabilityEnd: end,
				availability: [],
			}
			if (Array.isArray(fullSlot))
				acc[fullSlot].value = acc[fullSlot].availability.concat(item)
			else acc[fullSlot].availability.push(item)

			return acc
		}, {}) as AvailableTimeSlot
})

const availabilitiesInTimeSlot = computed(() => {
	let arr: Array<AvailabilityFragment> = []

	if (selectedTimeSlot.value !== '') {
		arr = availableTimeSlots?.value[selectedTimeSlot.value]?.availability || []
	}
	return arr
})

const currentlySelectedAvailabilityVariables = computed(() => {
	return {
		where: {
			...(availabilityIds.value.length && { id: { _in: availabilityIds.value } }),
		},
	}
})

const currentlySelectedAvailabilityQuery = useGetInstallationAvailabilityQuery({
	variables: currentlySelectedAvailabilityVariables,
	pause: computed(() => !availabilityIds.value.length),
})

const currentlySelectedAvailabilityValues = computed(() => {
	return (
		currentlySelectedAvailabilityQuery?.data?.value?.availability.map(
			(availability) => availability
		) || []
	)
})

const firstSelectedArtisan = computed(() => {
	let firstArtisan: Partial<AvailabilityFragment['user']> | undefined = {}
	if (availabilityIds.value.length > 0) {
		firstArtisan = currentlySelectedAvailabilityQuery?.data?.value?.availability[0].user
	}
	return firstArtisan
})

watch([availableTimeSlots, preferedTimeSlot], ([availableTimeSlotsValue]) => {
	if (installationInput.value.availabilities.length > 0) {
		preferedTimeSlot.value = getTimeSlotValue(
			installationInput.value.availabilities[0].availableFrom,
			installationInput.value.availabilities[0].availableTo
		)
	} else {
		preferedTimeSlot.value = installationInput.value.selectedDateTime
			? getTimeSlotValue(
				installationInput.value.selectedDateTime?.from,
				installationInput.value.selectedDateTime?.to
			)
			: Object.values(availableTimeSlotsValue)[0]?.fromTo
	}

	// display preselected slot either on the userPreferedDay or day of already selected availability
	const isDefaultSlot =
    installationInput.value.availabilities.length > 0
    	? actualDate.value
    		.startOf('D')
    		.isSame(
    			dayjs(installationInput.value.availabilities[0].availableFrom).startOf('D')
    		)
    	: actualDate.value
    		.startOf('D')
    		.isSame(dayjs(installationInput.value.selectedDateTime?.from).startOf('D'))

	if (isDefaultSlot) {
		selectedTimeSlot.value = preferedTimeSlot.value
	} else {
		selectedTimeSlot.value = Object.values(availableTimeSlotsValue)[0]?.fromTo
	}
})

const submit = async (formData) => {
	if (valid) {
		await updateItem(formData)
		await updateAvailability(installationId.value, availabilityIds.value)

		itemQuery.executeQuery({ requestPolicy: 'network-only' }).then(({ data }) => {
			installationInput.value = data.value?.installation || itemDefaults

			if (installationInput.value.availabilities.length !== 0) {
				preferedTimeSlot.value = getTimeSlotValue(
					installationInput.value.availabilities[0].availableFrom,
					installationInput.value.availabilities[0].availableTo
				)
			} else {
				preferedTimeSlot.value = getTimeSlotValue(
					data.value?.installation?.selectedDateTime?.from,
					data.value?.installation?.selectedDateTime?.to
				)
			}
		})

		if (error.value) {
			emit('error')
		} else {
			emit('updated', formData)
		}
	} else {
		message('Vyberte prosím dostupného řemeslníka')
	}
}
</script>
