<template>
  <v-card
    v-for="comment in commentList"
    :key="comment.createdAt"
    class="mx-auto my-3"
    prepend-icon="mdi-account-hard-hat"
    elevation="3"
  >
    <template #title>
      <span
        v-if="comment?.user"
        class="body-1"
      >
        {{ comment.user?.firstName }} {{ comment.user?.lastName }}
      </span>
      <span v-else>Anonymous</span>
    </template>
              
    <template #subtitle>
      {{ dayjs(comment.createdAt).format("D. MMMM YYYY") }}
    </template>
        
    <template #text>
      {{ comment.text }}
    </template>
  </v-card>
</template>

<script setup lang="ts">
import { useCommentList } from '@composables/entity/comment/list'
import dayjs from 'dayjs'

const props = defineProps({
	installationId: {
		type: String,
		default: undefined,
	},
}) 

const {
	commentQuery,
	installationId: commentInstallationId
} = useCommentList()

const commentList = computed(()=> {
	return commentQuery.data.value?.comment
})

watchEffect(() => {
	commentInstallationId.value = props.installationId
})

</script>
