<template>
  <v-form @submit.prevent="onFormSubmit">
    <Field
      v-slot="{ field }" name="comment" 
      :validate-on-blur="false" :validate-on-change="false" :validate-on-input="true" :validate-on-model-update="false"
    >
      <v-textarea
        v-bind="field"
        variant="solo"
        elevation="3"
        placeholder="Zde zadejte svůj komentář"
        :error-messages="errors.comment"
      />
    </Field>
    <v-btn
      color="deep-purple"
      variant="tonal"
      class="float-right"
      type="submit"
    >
      odeslat
    </v-btn>
  </v-form>
</template>

<script setup lang="ts">
import { Field, useForm } from 'vee-validate'
const { updateCommentItem } = useEntityCommentCRUD()

const installationValidationSchema = {
	comment: 'notEmptyTextbox'
}

const { meta, handleSubmit, errors } = useForm({
	initialValues: { comment: '' }, // 
	validationSchema: installationValidationSchema // validate fields inside form
})

const props = defineProps({
	installationId: {
		type: String,
		default: undefined,
	},
}) 

const onFormSubmit = handleSubmit((values, { resetForm }) => {  
  
	const commentInput = {
		text: values.comment,
		id: ''
	}
  
	if(meta.value.valid && props.installationId) {
		updateCommentItem(commentInput, props.installationId)
	} 
	resetForm()
})

</script> 
