<template>
  <v-card
    class="mx-auto my-auto"
    max-width="800"
  >
    <v-img
      cover
      height="100%"
      src="https://cdn.vuetifyjs.com/images/cards/server-room.jpg"
    >
      <v-avatar
        class="mx-3 my-3"
        color="grey"
        size="200"
        rounded="1"
      >
        <v-img
          src="https://i.pinimg.com/474x/a7/d0/78/a7d078c8b8d51a4ca4e34a9ec6e7ceed.jpg"
        />
      </v-avatar>
      <v-list-item
        class="text-white mx-12 my-3"
        :title="loggedUser?.displayName || 'Neznámý uživatel'"
        :subtitle="loggedUser?.email || ''"
      />
    </v-img>
    <v-form
      class="d-flex justify-center mx-6 my-6"
    >
      <v-row>
        <v-col>
          <v-text-field
            v-model="userInput.displayName"
            variant="outlined"
            label="Uživatelské jméno"
          />
        </v-col>
        <v-col>
          <v-text-field
            v-model="userInput.email"
            variant="outlined"
            label="e-mail"
          />
        </v-col>
      </v-row>
    </v-form>
    <v-row
      class="d-flex justify-center mx-6 my-1"
    >
      <v-col cols="3">
        <v-btn
          elevation="2"
          @click="showUpdateUserProfileDialog = true"
        >
          <v-icon left>
            mdi-account-edit-outline
          </v-icon>
          Změnit údaje
        </v-btn>
        <global-confirm-dialog
          v-model="showUpdateUserProfileDialog"
          @confirmed="handleUpdateUserProfile(userInput?.displayName, userInput?.email)"
          @rejected="showUpdateUserProfileDialog = false"
        >
          <template #title>
            Změna údajů
          </template>

          <p>Opravdu si přejete změnit své údaje?</p>
        </global-confirm-dialog>
      </v-col>
      <v-col cols="3">
        <v-btn
          elevation="2"
          @click="showResetUserPasswordDialog = true"
        >
          <v-icon left>
            mdi-lock-reset
          </v-icon>
          Změnit heslo
        </v-btn>
        <global-confirm-dialog
          v-model="showResetUserPasswordDialog"
          @confirmed="handleResetUserPassword(userInput?.email || '')"
          @rejected="showResetUserPasswordDialog = false"
        >
          <template #title>
            Změna hesla
          </template>

          <p>Na e-mailovou adresu <strong>{{ userInput?.email || '' }}</strong> bude odeslán odkaz pro obnovu hesla.</p>
        </global-confirm-dialog>
      </v-col>
      <v-col cols="3">
        <v-btn
          elevation="2"
          color="primary"
          @click="logoutUser()"
        >
          <v-icon left>
            mdi-logout
          </v-icon>
          Odhlásit se
        </v-btn>
      </v-col>
    </v-row>
  </v-card>
</template>

<script setup lang="ts">
const { loggedUser, logoutUser, resetUserPassword, updateUserProfile, updateUserEmail } = useAuth()
const userInput = ref({ ...loggedUser.value })
const showResetUserPasswordDialog = ref(false)
const showUpdateUserProfileDialog = ref(false)

const handleUpdateUserProfile = (displayName?: string | null, email?: string | null) => {
	if (displayName && displayName !== loggedUser.value?.displayName) {
		updateUserProfile({ displayName })
	}

	if (email && email !== loggedUser.value?.email){
		updateUserEmail(email)
	}

	showUpdateUserProfileDialog.value = false
}

const handleResetUserPassword = (email: string) => {
	resetUserPassword(email)
	showResetUserPasswordDialog.value = false
}

watch (loggedUser, () => {
	if (loggedUser.value) {
		userInput.value = { ...loggedUser.value }
	}
})
</script>
