<template>
  <div>
    <v-toolbar
      dark
      class="title rounded mb-3 py-2"
    >
      <v-toolbar-title class="text-capitalize">
        {{ month.format('MMMM YYYY') }}
      </v-toolbar-title>
      <v-spacer />
      <v-btn
        variant="outlined"
        color="primary"
        class="mr-3"
        @click="currMonth"
      >
        Dnes
      </v-btn>
      <v-btn
        icon
        variant="text"
        color="primary"
        @click="prevMonth"
      >
        <v-icon>mdi-chevron-left</v-icon>
      </v-btn>
      <v-btn
        icon
        variant="text"
        color="primary"
        @click="nextMonth"
      >
        <v-icon>mdi-chevron-right</v-icon>
      </v-btn>
    </v-toolbar>

    <v-toolbar 
      v-for="(day) in days"
      :key="day.dayValue" 
      :class="{
        'bg-red-lighten-4': WEEKEND.includes(dayjs(day.dayValue).day()),
      }"
      class="mb-3 py-2"
    >
      <v-toolbar-title class="text-grey text-capitalize text-body-1 font-weight-bold">
        {{ dayjs(day.dayValue).format('D. MMMM YYYY') }}
      </v-toolbar-title>
      <calendar-slot-selector
        :entity="day" @update="updateItem"
      />
    </v-toolbar>
  </div>
</template>

<script setup lang="ts"> 
import dayjs, { Dayjs } from 'dayjs'
import objectSupport from 'dayjs/plugin/objectSupport'
import duration from 'dayjs/plugin/duration'
import cs from 'dayjs/locale/cs'

dayjs.extend(objectSupport)
dayjs.extend(duration)
dayjs.locale(cs)

const currentMonthSelection = ref<Array<any>>([])
const allSelectedTimeSlots = ref<Array<any>>([])
const WEEKEND = [6, 0]
const month = ref(dayjs().startOf('month'))


interface Emits {
  (e: 'update:selected-slots', value: Array<{availableFrom: Dayjs, availableTo: Dayjs}>): void;
}

const emits = defineEmits<Emits>()

// TODO?
// 1. Whole logic inside computed property ?
// OR 
// 2. Have inside computed only dates and have single vars for daySlots and selectedDaySlots ?
const days = computed(() => {
	const days = ref<Array<{
    dayValue: string, 
    daySlots: Array<{availableFrom: Dayjs, availableTo: Dayjs}>, 
    selectedDaySlots: Array<{availableFrom: Dayjs, availableTo: Dayjs}>
  }>>([])

	const start = month.value.startOf('month')
	const end = month.value.endOf('month')
	let day = start

	while (day <= end) { 
		const selectedSlotsForDay = currentMonthSelection.value.find(slot => slot.dayValue === day.format('YYYY-MM-DD'))
		let givenSelection: Array<any> = []
		const slots: Array<any> = []
		// Generating object with specific 2hour slots
		for (let i = 0; i < 12; i++) {
			const availableFrom = dayjs({
				year: day.get('y'),
				month: day.get('M'),
				day: day.get('D'),
				minutes: (i * 2)*60,
			})

			const availableTo = dayjs({
				year: day.get('y'),
				month: day.get('M'),
				day: day.get('D'),
				minutes: ((i + 1) * 2 * 60),
			})

			slots.push({ 
				availableFrom,
				availableTo,
			})
		}
		if (selectedSlotsForDay) {
			givenSelection = selectedSlotsForDay.selectedDaySlots
		} else {
			givenSelection = slots.filter(slot => 
				slot.availableFrom.get('hour') >= 8 && slot.availableFrom.get('hour') < 16 && 
				!WEEKEND.includes(slot.availableFrom.get('day'))
			)
		}
		days.value.push({ dayValue: day.format('YYYY-MM-DD'), daySlots: slots, selectedDaySlots: givenSelection })
		day = day.add(1, 'day') 
	}

	return days.value
})

const nextMonth = () => {
	month.value = month.value.add(1, 'month')
	loadSelectedSlotsForMonth()
}

const prevMonth = () => {
	month.value = month.value.subtract(1, 'month')
	loadSelectedSlotsForMonth()
}

const currMonth = () => {
	month.value = dayjs().startOf('month')
	loadSelectedSlotsForMonth()
}

// Function to retrieve only current month-days with slots
const loadSelectedSlotsForMonth = () => {
	const selectedSlotsForMonth = allSelectedTimeSlots.value.
		filter(slot => slot.dayValue.startsWith(month.value.format('YYYY-MM')))

	currentMonthSelection.value.splice(0, currentMonthSelection.value.length, ...selectedSlotsForMonth)
}

// proccess updated Model from child
function updateItem(updatedItem: 
  { dayValue: string, selectedDaySlots: Array<{availableFrom: Dayjs, availableTo: Dayjs}>}
) {
	const foundObj = days.value.find(day => day.dayValue === updatedItem.dayValue)

	if(foundObj) {
		foundObj.selectedDaySlots = updatedItem.selectedDaySlots
		allSelectedTimeSlots.value = [ 
			...allSelectedTimeSlots.value.filter(slot => slot.dayValue !== updatedItem.dayValue ), 
			updatedItem
		]
	} 

	allSelectedTimeSlots.value = allSelectedTimeSlots.value.filter(item => item.selectedDaySlots.length > 0)
}

watch(allSelectedTimeSlots, (value) => {
	emits('update:selected-slots', value.map(item => item.selectedDaySlots).flat())
})

// TODO - set default slots between 8:00 - 16:00 on probably button click
</script>
