<template>
  <v-chip
    size="small"
    class="w-100 d-flex justify-center py-4 elevation-1 mb-1"
    pill
  >
    <v-avatar start size="22" color="primary" class="mr-2">
      {{ event.count }}
    </v-avatar>
    {{ event.name }}
  </v-chip>
</template>

<script lang="ts">
import dayjs from 'dayjs'

export interface Event {
  name: string
  start: dayjs.Dayjs
  end: dayjs.Dayjs
  allDay?: boolean
  count: number
}
</script>

<script setup lang="ts">
import { PropType } from 'vue'

const props = defineProps({
	event: {
		type: Object as PropType<Event>,
		required: true
	}
})
</script>
