<template>
  <div>
    <v-card variant="tonal">
      <v-card-title>Kritéria</v-card-title>
      <v-container fluid class="pt-0">
        <v-row>
          <v-col cols="3">
            <v-select
              v-model="selectedEshop" 
              :items="allEshops" item-title="name" item-value="id"
              return-object
              placeholder="Vyberte E-shop"
              clearable 
            />
          </v-col>
          <v-col cols="4">
            <v-select
              v-model="selectedTypes" 
              placeholder="Vyberte typ kategorie" :items="servicedTypes" item-title="serviceType.description"
              multiple
              item-value="serviceType.value"
            />
          </v-col>
        </v-row>
        <v-divider class="mb-5" />
        <v-row>
          <v-card-title>Dostupní řemeslníci</v-card-title>
        </v-row>
        <v-row>
          <v-col>
            <v-chip-group v-model="selectedUsers" multiple> 
              <v-chip
                v-for="user in allUsers" :key="user.id"
                :variant="selectedUsers.includes(user.id) ? 'elevated':'tonal'" 
                :value="user.id"
                prepend-icon="mdi-account-hard-hat"
                :ripple="false"
              >
                {{ user.fullName }}
              </v-chip>
            </v-chip-group>
          </v-col>
        </v-row>
      </v-container>
    </v-card>
  </div>
</template>

<script setup lang="ts">
import { Role_Enum } from '@gql/generated'
const { selectQuery } = useEntityEshopSelect()
const { items, where: usersWhere } = useEntityUserList()

const selectedEshop = ref()
const selectedTypes = ref<Array<any>>([])
const selectedUsers = ref<Array<any>>([])

watchEffect(() => {
	usersWhere.value = {
		roleValue: { _eq: Role_Enum.Serviceman },
		...(selectedEshop.value
					&& { userServiceTypes: { 
						serviceType: { servicedCategories: { eshopId: { _eq: selectedEshop?.value?.id } } },
						...(selectedTypes.value.length && {
							serviceTypeValue: { _in: selectedTypes.value }
						})
					} }
		),
		availabilities: {}
	}
})

const allUsers = computed(() => {
	return items?.value.map(item => {
		return {
			id: item.id,
			fullName: `${item.firstName} ${item.lastName}`,
			userServiceTypes: item.userServiceTypes
		}
	}) || []
})

const allEshops = computed(() => {
	return selectQuery?.data?.value?.eshops || []
})

const servicedTypes = computed(() => {
	const types = selectedEshop?.value?.servicedCategories || []
	return [...new Map(types.map(item => [item.serviceType.value, item])).values()] // Deduplication
})

watch(selectedEshop, (newEshop, oldEshop) => {
	if(oldEshop !== newEshop ){  
		selectedTypes.value = []  // Reset
		selectedUsers.value = []  // Reset
	} 
})

</script>
