<template>
  <div class="calendar">
    <v-toolbar dark class="title rounded">
      <v-toolbar-title>
        <span>{{ month.format("MMMM YYYY") }}</span>&nbsp;
      </v-toolbar-title>
      <v-spacer />
      <v-btn variant="outlined" color="primary" @click="currMonth">
        Dnes
      </v-btn>
      <v-btn icon variant="text" color="primary" @click="prevMonth">
        <v-icon>mdi-chevron-left</v-icon>
      </v-btn>
      <v-btn icon variant="text" color="primary" @click="nextMonth">
        <v-icon>mdi-chevron-right</v-icon>
      </v-btn>
    </v-toolbar>
    <div class="weekdays my-2 text-center">
      <span v-for="(day, i) in days.slice(0, 7)" :key="i">
        {{ day.format("dddd") }}
      </span>
    </div>
    <div class="days text-center">
      <div
        v-for="(day, i) in days"
        :key="i"
        v-ripple="day.isSame(month, 'month')"
        class="day pa-2 my-1 elevation-2 rounded-lg"
        :class="{
          'bg-grey-lighten-4': !day.isSame(month, 'month'),
          'font-weight-bold': WEEKEND.includes(day.day()),
        }"
        @click="day.isSame(month, 'month') && $emit('click:day', day)"
      >
        <v-avatar
          variant="flat"
          class="my-2"
          :color="day.isSame(today) ? 'red' : 'grey-lighten-4'"
          :class="{
            'text-white': day.isSame(today),
          }"
        >
          <span>
            {{ day.format("DD") }}
          </span>
        </v-avatar>
        <div>
          <calendar-event
            v-for="(event, j) in eventsToday(day)"
            :key="j"
            :event="event"
            class="mb-1"
            @click.stop="$emit('click:event', event)"
          />
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { PropType } from 'vue'
import dayjs from 'dayjs'
import cs from 'dayjs/locale/cs'
import { Event } from './Event.vue'

const emits = defineEmits(['change', 'click:day', 'click:event'])
const props = defineProps({
	events: {
		type: Array as PropType<Array<Event>>,
		default: () => [],
	},
})

dayjs.locale(cs)

const WEEKEND = [6, 0]
const today = dayjs().startOf('day')
const month = ref(dayjs().startOf('month'))

const eventsToday = (day: dayjs.Dayjs) => {
	const todaysEvent: Array<Event> = props.events
		.filter(
			(event) => dayjs(event.start).format('YYYY-MM-DD') === day.format('YYYY-MM-DD')
		)
		.reduce((acc, curr) => {
			const found = acc.find(x => curr.name === x.name)
			found ? found.count += curr.count : acc.push(curr)
			return acc
		}, [] as Array<Event>)
		.sort((a, b) => (dayjs(a.start).isBefore(dayjs(b.start)) ? -1 : 1))
  
	return todaysEvent
}
    
const nextMonth = () => {
	month.value = month.value.add(1, 'month')
}
const prevMonth = () => {
	month.value = month.value.subtract(1, 'month')
}
const currMonth = () => {
	month.value = dayjs(new Date(dayjs().format('YYYY-MM')))
}
watch(month, () =>
	emits('change', {
		start: { date: days.value[0] },
		end: { date: days.value[days.value.length - 1] },
	})
)
const days = computed(() => {
	const days: Array<dayjs.Dayjs> = []
	const start = month.value.startOf('month').startOf('week')
	const end = month.value.endOf('month').endOf('week')
	let day = start
	while (day <= end) {
		days.push(day)
		day = day.add(1, 'day')
	}
	return days
})
</script>

<style scoped lang="scss">
.calendar {
  .title span {
    text-transform: capitalize;
  }

  .days,
  .weekdays {
    position: relative;
    display: grid;
    grid-template-columns: repeat(7, minmax(0, 1fr));
    grid-column-gap: var(--grid-gap);
    grid-row-gap: var(--grid-gap);
  }

  .weekdays {
    text-transform: capitalize;
  }

  .days > div {
    min-height: 120px;
  }
}
</style>
