<template>
  <div>
    <v-app-bar flat>
      <v-app-bar-title>
        Vytvoření nové rezervace
      </v-app-bar-title>
    </v-app-bar>
  </div>
  <v-form v-model="isFormValid" @submit="onFormSubmit">
    <v-container>
      <v-row>
        <v-col cols="6">
          <v-card title="Zákazník" class="pa-3">
            <v-row class="px-3">
              <v-col cols="6">
                <form-custom-input name="customer.firstName" type="text" label="Jméno" />
              </v-col>
              <v-col cols="6">
                <form-custom-input
                  name="customer.lastName"
                  type="text"
                  label="Příjmení"
                />
              </v-col>
            </v-row>
            <v-row class="px-3">
              <v-col cols="6">
                <form-custom-input name="customer.email" type="text" label="E-mail" />
              </v-col>
              <v-col cols="6">
                <form-custom-input name="customer.phone" type="text" label="Telefon" />
              </v-col>
            </v-row>
          </v-card>
        </v-col>
        <v-col cols="6">
          <v-card title="Adresa Montáže" class="pa-3">
            <v-row class="px-3">
              <v-col cols="6">
                <form-custom-input
                  name="shippingAddress.street"
                  type="text"
                  label="Ulice"
                />
              </v-col>
              <v-col cols="6">
                <form-custom-input name="shippingAddress.city" type="text" label="Obec" />
              </v-col>
            </v-row>
            <v-row class="px-3">
              <v-col cols="6">
                <form-custom-input
                  name="shippingAddress.zipCode"
                  type="text"
                  label="PSČ"
                />
              </v-col>
              <v-col cols="6">
                <form-custom-input
                  name="shippingAddress.state"
                  type="text"
                  label="Stát"
                />
              </v-col>
            </v-row>
          </v-card>
        </v-col>
      </v-row>
     
      <v-row>
        <v-col cols="12">
          <v-card title="Zboží" class="pa-3">
            <v-row v-for="(field, index) in fields" :key="field.key" class="px-3 d-flex align-items-center">
              <v-col cols="3">
                <Field v-slot="{ field }" name="eshopId">
                  <v-select
                    v-bind="field"
                    v-model="selectedEshopId"
                    clearable
                    :items="allEshops"
                    :item-title="(item) => item.name"
                    :item-value="(item) => item.id"
                    label="Vyberte Eshop"
                    :error-messages="errors.eshopId"
                  />
                </Field>
              </v-col>
              <v-col cols="2">
                <Field v-slot="{ field: fieldAttrs }" :name="`items[${index}].category`">
                  <v-combobox
                    v-bind="fieldAttrs"
                    :items="selectedEshopCategories"
                    :item-title="(item) => item.categoryName"
                    :item-value="(item) => item.eshopCategoryId"
                    label="Kategorie"
                    :return-object="false"
                    :rules="[v => !!v || 'Pole musí byt vyplněno']"
                  />
                </Field>
              </v-col>
              <v-col cols="3">
                <Field 
                  v-slot="{ field: fieldAttrs }"
                  :name="`items[${index}].title`"
                >
                  <v-text-field
                    v-bind="fieldAttrs" 
                    type="text" label="Název" :rules="[v => !!v || 'Pole musí byt vyplněno']"
                  />
                </Field>
              </v-col>
              <v-col cols="2">
                <Field 
                  v-slot="{ field: fieldAttrs }"
                  :name="`items[${index}].price`"
                >
                  <v-text-field
                    v-bind="fieldAttrs" 
                    type="text" label="Cena" :rules="[v => !!v || 'Pole musí byt vyplněno']"
                  />
                </Field>
              </v-col>
              <v-col cols="2">
                <Field 
                  v-slot="{ field: fieldAttrs }"
                  :name="`items[${index}].amount`"
                >
                  <v-text-field
                    v-bind="fieldAttrs" 
                    type="number" label="Počet" :rules="[v => !!v || 'Pole musí byt vyplněno',numberRule]"
                    min="0"
                  />
                </Field>
              </v-col>
              <v-col cols="1">
                <v-switch
                  color="green-darken-3"
                  :label="values.items[index].installation ? 'S instalací' : 'Bez Installace'"
                  :name="`items[${index}].installation`"
                  @click="values.items[index].installation = !values.items[index].installation"
                />
              </v-col>
              <v-spacer />
              <v-col
                v-if="values.items.length !== 1" class="mb-5 pr-5 d-flex justify-end" align-self="center"
              >
                <v-icon size="large" icon="mdi-close-circle" @click="remove(index)" />
              </v-col>
            </v-row>
            <v-row justify="center" class="pb-5">
              <v-col cols="auto">
                <v-btn
                  elevation="3"
                  prepend-icon="mdi-plus-thick"
                  @click="push({title: '',price: '',amount: 0,category: '',installation: false})"
                >
                  Přidat Zboží
                </v-btn>
              </v-col>
            </v-row>
          </v-card>
        </v-col>
      </v-row>
      <v-row justify="end">
        <v-col cols="auto">
          <v-btn type="submit" class="bg-primary">
            Vytvořit
          </v-btn>
        </v-col>
      </v-row>
    </v-container>
  </v-form>
</template>

<script setup lang="ts">
import { useForm, useFieldArray } from 'vee-validate'
import { Field } from 'vee-validate'
const { selectQuery } = useEntityEshopSelect()
const id = ref()
const { itemDefaults } = useEntityInstallationSingle(id)
const isFormValid = ref<boolean>(false)
const selectedEshopId = ref<string | null>(null)
const { updateItem } = useEntityInstallationCRUD()

const itemsArr = ref([
	{
		title: '',
		price: '',
		amount: 0,
		category: '',
		installation: false,
	},
])

const reservationValidationSchema = {
	['customer.firstName']: 'notEmptyTextbox',
	['customer.lastName']: 'notEmptyTextbox',
	['customer.phone']: 'notEmptyTextbox',
	['customer.email']: 'notEmptyTextbox',
	['shippingAddress.city']: 'notEmptyTextbox',
	['shippingAddress.street']: 'notEmptyTextbox',
	['shippingAddress.zipCode']: 'notEmptyTextbox',
	['shippingAddress.state']: 'notEmptyTextbox',
	eshopId: 'notEmptyTextbox',
}

const numberRule = value  => {
	if (value > 0) return true
	return 'Počet musí být větší než 0'
}
// TODO: do budoucna dodelat filedrop pro preview obrazku, popr. URL
const initialValues = {
	...itemDefaults,
	customer: {
		firstName: '',
		lastName: '',
		phone: '',
		email: '',
	},
	shippingAddress: {
		street: '',
		city: '',
		zipCode: '',
		state: '',
	},
	items: itemsArr.value,
	eshopId: '',
	orderId: new Date().getTime().toString(36), // TODO: vymyslet lepsi format, nejlepe ciselny
	deliveries: [{ deliveryId: '1' }],
	selectedDateTime: null
}

const { meta, values, errors, handleSubmit } = useForm({
	validationSchema: reservationValidationSchema,
	initialValues,
})

const { fields, push, remove } = useFieldArray('items')

const allEshops = computed(() => {
	return selectQuery.data.value?.eshops || []
})

const selectedEshopCategories = computed(() => {
	return allEshops.value.find(eshop => eshop.id === values.eshopId)?.servicedCategories || []
})

const onFormSubmit = handleSubmit((values, { resetForm }) => {
	if (meta.value.valid && isFormValid.value) {
		updateItem(values)
		resetForm({ values: { ...initialValues, orderId: new Date().getTime().toString(36), 
			date: new Date() } })
		selectedEshopId.value = null
		useRouter().push('/installations/')
	}
})
</script>
