<template>
  <v-dialog
    :model-value="modelValue"
    persistent
    :max-width="size"
  >
    <v-card>
      <v-card-text>
        <v-form>
          <v-card-title v-if="showTitle" class="mb-5">
            <slot name="title">
              {{ title }}
            </slot>
          </v-card-title>

          <v-card-text>
            <slot />
          </v-card-text>

          <v-card-actions>
            <v-spacer />
            <v-btn
              color="grey"
              class="mr-4"
              @click="$emit('rejected')"
            >
              {{ rejectLabel }}
            </v-btn>
            <v-btn
              color="primary"
              class="mr-4"
              @click="$emit('confirmed')"
            >
              {{ confirmLabel }}
            </v-btn>
          </v-card-actions>
        </v-form>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script setup lang="ts">
const emits = defineEmits(['confirmed', 'rejected'])

const props = defineProps({
	modelValue: {
		type: Boolean,
		default: false
	},
	title: {
		type: String,
		default: ''
	},
	size: {
		type: String,
		default: '500'
	},
	confirmLabel: {
		type: String,
		required: false,
		default: () => useTranslates().global.labelConfirm,
	},
	rejectLabel: {
		type: String,
		required: false,
		default: () => useTranslates().global.labelCancel,
	},
})

const slots = useSlots()

const showTitle = computed(() => props.title !== '' || slots.title)
</script>
