<template>
  <div>
    <client-only>
      <v-snackbar
        v-model="snackbar"
        :timeout="message?.timeout"
      >
        {{ message?.text }}
        <template #actions>
          <v-btn
            color="blue"
            variant="text"
            @click="snackbar = false"
          >
            {{ translates.global.labelClose }}
          </v-btn>
        </template>
      </v-snackbar>
    </client-only>
  </div>
</template>

<script setup lang="ts">
import { Message } from '@interfaces/global'

const DEFAULT_TIMEOUT = 5000

const translates = useTranslates()
const { messages } = useMessages()

const snackbar = ref(false)
const message = ref<Message>()

watch(snackbar, (value) => {
	if (!value && messages.value.length > 0) {
		nextTick(() => {
			showNextMessage()
		})
	}
})

watch(messages.value, () => {
	if (!snackbar.value) {
		nextTick(() => {
			showNextMessage()
		})
	}
})

const showNextMessage = () => {
	const { text, timeout = DEFAULT_TIMEOUT } = messages.value.shift() as Message
	message.value = { text, timeout }
	snackbar.value = true
}
</script>
