<template>
  <div
    class="modal-overlay"
    @click="$emit('close-modal')"
  >
    <div
      class="modal"
      @click.stop
    >
      <slot />
    </div> 
    <v-btn
      class="close"
      icon="mdi-close-circle"
      @click="$emit('close-modal')"
    />
  </div>
</template>

<style>
.modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  background-color: #F3E5F5da;
}

.modal {
  text-align: center;
  background-color: white;
  height: 90%;
  min-width: 50%;
  margin-top: 4%;
  margin-bottom: 4%;
  padding: 60px 0;
  border-radius: 20px;
  overflow-y: auto;
}

.close {
  margin: 10% 0 0 16px;
  cursor: pointer;
}
</style>
