<template>
  <div>
    <v-pagination
      v-model="pageInput"
      :length="Math.ceil(itemsCount / limitInput)"
      :total-visible="10"
      @next="$emit('changePage', pageInput)"
      @previous="$emit('changePage', pageInput)"
      @update:model-value="$emit('changePage', pageInput)"
    />
  </div>
</template>

<script setup lang="ts">
defineEmits(['changePage', 'changeLimit'])

const props = defineProps({
	limit: {
		type: Number,
		default: () => 10,
	},
	itemsCount: {
		type: Number,
		default: () => 1,
	},
	page: {
		type: Number,
		default: () => 1,
	}
})

const pageInput = ref(props.page)
const limitInput = ref(props.limit)
</script>
