<template>
  <v-container :style="{ height }">
    <v-row class="fill-height" align-content="center" justify="center">
      <v-col v-if="text" class="text-subtitle-1 text-center" cols="12">
        {{ text }}
      </v-col>
      <v-col cols="6">
        <v-progress-linear v-bind="{ indeterminate, rounded, color }" :model-value="value" height="6" />
      </v-col>
    </v-row>
  </v-container>
</template>

<script setup lang="ts">
interface Props {
  text?: string
  value?: number
  height?: string
  rounded?: boolean
  color?: string
  indeterminate?: boolean
}

const props = withDefaults(defineProps<Props>(), {
	text: undefined,
	value: 0,
	height: undefined,
	rounded: true,
	color: 'primary accent-4',
	indeterminate: true,
})
</script>
