<template>
  <div>
    <v-icon
      color="bg-primary"
      :icon="icon"
      size="large"	  
      @click="changeDirection()"
    />
  </div>
</template>

<script setup lang="ts">
import { Order_By } from '@gql/generated'
import { PropType } from 'vue'


const props = defineProps({
	direction: {
		type: String as PropType<Order_By>,
		default: () => undefined,
		required: false,
	}
})

const emit = defineEmits(['change'])
const changeDirection = () => {
	let direction
	if(props.direction === Order_By.Asc) {
		direction = Order_By.Desc
	} else if(props.direction === Order_By.Desc){
		direction = undefined
	} else {
		direction = Order_By.Asc
	}
	emit('change', direction)
}
const icon = computed(() => {
	return props.direction === 'asc'? 'mdi-chevron-down' : props.direction === 'desc'? 'mdi-chevron-up' : 'mdi-close'
})
</script>
