<template>
  <div>
    <v-card variant="tonal">
      <v-card-title>Kritéria</v-card-title>
      <v-container fluid class="pt-0">
        <v-row>
          <v-col cols="3">
            <v-select
              v-model="selectedCompany" 
              :items="allCompanies"
              placeholder="Vyberte název firmy"
              clearable 
            />
          </v-col>
          <v-col cols="4">
            <v-select
              v-model="selectedServiceTypes" 
              placeholder="Vyberte typ služby" :items="allServicedTypes" item-title="description"
              multiple
              item-value="value"
            />
          </v-col>
        </v-row>
        <v-divider class="mb-5" />
        <v-row>
          <v-card-title>Dostupní řemeslníci</v-card-title>
        </v-row>
        <v-row>
          <v-col>
            <v-chip-group v-model="selectedUserIds" multiple> 
              <v-chip
                v-for="user in allUsers" :key="user.id"
                :variant="selectedUserIds.includes(user.id) ? 'elevated':'tonal'" 
                :value="user.id"
                prepend-icon="mdi-account-hard-hat"
                :ripple="false"
              >
                {{ user.fullName }}
              </v-chip>
            </v-chip-group>
          </v-col>
        </v-row>
      </v-container>
    </v-card>
  </div>
</template>

<script setup lang="ts">
import { Role_Enum } from '@gql/generated'
const { selectCompanyQuery } = useEntityUserCompanySelect()
const { selectQuery } = useEntityServiceTypeSelect()
const { items, where: usersWhere } = useEntityUserList()

interface Emits {
  (e: 'change', value: Array<any>): void,
}

const emits = defineEmits<Emits>()

const selectedCompany = ref<string | null>()
const selectedServiceTypes = ref<Array<any>>([])
const selectedUserIds = ref<Array<any>>([])

const allCompanies = computed(() => {
	return selectCompanyQuery.data.value?.user.map(({ companyName }) => {
		return companyName ? companyName : 'BEZ FIRMY'
	}) || []
})

const allServicedTypes = computed(() => {
	return selectQuery.data.value?.serviceTypes || []
})

const allUsers = computed(() => {
	return items?.value.map(item => {
		return {
			id: item.id,
			fullName: `${item.firstName} ${item.lastName}`,
			userServiceTypes: item.userServiceTypes
		}
	}) || []
})

watchEffect(() => {
	usersWhere.value = {
		roleValue: { _eq: Role_Enum.Serviceman },
		...(selectedCompany.value && (selectedCompany.value === 'BEZ FIRMY' ? 
			{ companyName: { _is_null: true } } : { companyName: { _eq: selectedCompany.value } }
		)),
		...(selectedServiceTypes.value.length && 
    { userServiceTypes: { serviceTypeValue: { _in: selectedServiceTypes.value } } }),
		availabilities: {}
	}
})

watch(selectedCompany, (newCompany, OldCompany) => {
	if(newCompany !== OldCompany) {
		selectedServiceTypes.value = []
		selectedUserIds.value = []
	}
})

watchEffect(() => {
 	const userIds = selectedUserIds.value.length > 0 ? 
		selectedUserIds.value : 
		allUsers.value.map(item => item.id)
	emits('change', userIds) 
})

</script>
