<template>
  <v-row>
    <v-col>
      <form-filtered-list
        v-model:selected="selectedUsers" 
        :items="allUsers"
        title="Vyberte řemeslníka"
      />
    </v-col>
  </v-row>  
</template>
    
<script setup lang="ts">
import { Role_Enum } from '@gql/generated'

interface Props  {
	selectedUsers: Array<any>
}

const props = withDefaults(defineProps<Props>(), {
	selectedUsers: () => []
})

interface Emits {
  (e: 'update:selected-users', value: Array<any>): void,
}

const emits = defineEmits<Emits>()
const selectedUsers = ref<Array<any>>(props.selectedUsers) 
const { items, where: usersWhere } = useEntityUserList()
  
usersWhere.value = {
	roleValue: { _eq: Role_Enum.Serviceman },
	isActive: { _eq: true },
	userZipCodes: {}
	// TODO? should be tied to existing category / eshop
}
  
const allUsers = computed(() => {
	return items.value.map(item => {
		return {
			value: item.id,
			text: `${item.firstName} ${item.lastName}`,
		}
	})
})
  
watch(selectedUsers, (value) => {
	const userInfo = value.map(userId => {
		return {
			userId,
			userZipCodes: items.value.find(item => item.id === userId)?.userZipCodes
		}
	})
	emits('update:selected-users', userInfo)
})

</script>
