<template>
  <div class="select-wrapper">
    <v-select
      v-model="slotsSelected"
      class="mr-3"
      :items="entity.daySlots"
      :label="dayjs(entity.dayValue).get('day') === 6 || dayjs(entity.dayValue).get('day') === 0 ? 
        'Vybrané časové dostupnosti pro Víkend' : 'Vybrané časové dostupnosti'"
      :item-title="item => item.availableFrom.get('hour') + ':00 - ' + item.availableTo.get('hour') + ':00'"
      :item-value="item => item"
      return-object
      hide-details
      multiple
      :menu-props="{ scrollStrategy: 'close' }"
      clearable
      @update:model-value="updateModel"
    >
      <template #chip="{ item, index }">
        <v-chip
          v-if="index < 5" class="pa-2 mr-1" size="small" 
          closable @click.stop @click:close.stop="removeItem(item.value)"
        >
          <span>{{ item.title }}</span>
        </v-chip>
        <span v-if="index === 5" class="text-grey text-caption align-self-center">
          (+{{ slotsSelected!.length - 5 }} others)
        </span>
      </template>
    </v-select>
  </div>
</template>

<script setup lang="ts">
import dayjs, { Dayjs } from 'dayjs'
import isSameOrBefore from 'dayjs/plugin/isSameOrBefore'
import isSameOrAfter from 'dayjs/plugin/isSameOrAfter'
dayjs.extend(isSameOrBefore)
dayjs.extend(isSameOrAfter)

interface Props {
  entity: {
    dayValue: string, 
    daySlots: Array<any>, 
    selectedDaySlots: Array<any>
  }
}

interface Emits {
  (e: 'update', value: any): void;
}

const props = withDefaults(defineProps<Props>(), {
	entity: () => ({
		dayValue: '',
		daySlots:[],
		selectedDaySlots: []
	})
})

const emits = defineEmits<Emits>()
const slotsSelected = ref<Array<any>>([])

const updateModel = (value) => {
	const updatedItem = { dayValue: props.entity.dayValue, selectedDaySlots: value } // emits without daySlots
	emits('update', updatedItem) 
}

const removeItem = (value) => {
	slotsSelected.value = slotsSelected.value.filter(item => item !== value)
	emits('update', slotsSelected.value)
}

watch(slotsSelected, (value) => {
	const updatedItem = { dayValue: props.entity.dayValue, selectedDaySlots: value } // emits without daySlots
	emits('update', updatedItem) 
})

onMounted(() => {
	slotsSelected.value = [...props.entity.selectedDaySlots]
})
</script>

<style scoped>
.select-wrapper {
  width: 720px;
}

</style>
