<template>
  <div>
    <h3>Přílohy*</h3>
    <form-file-drop
      v-model="files"
      name="attachments"
      multiple
      @change="handleUploadFile"
    />
    <v-container>
      <v-row>
        <v-col v-for="attachment in attachments" :key="attachment.name" cols="6" lg="3" xl="2">
          <form-file-preview :file="attachment" variant="tile" />
          <span @click="handleDeleteFile(attachment)"> smazat</span>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script setup lang="ts">
import { StorageReference } from '@firebase/storage'

interface Props {
  installationId: string
}

const props = defineProps<Props>()

const { uploadFile, listFiles, deleteFile } = useFirebaseStorage()

const path = computed(() => `installations/${props.installationId}/attachments`)
const files = ref<Array<File>>([])
const attachments = ref<Array<StorageReference>>([])

const handleDeleteFile = async (file: StorageReference) => {
	await deleteFile(file)

	loadFiles()
}
const handleUploadFile = async () => {
	await Promise.all(files.value.map(async (file, index) => {
		const uploadResult = await uploadFile(file, path.value)
		files.value.splice(index, 1)

		return uploadResult
	}))

	loadFiles()
}

const loadFiles = async () => {
	attachments.value = (await listFiles(path.value)).items
}

loadFiles()
</script>
